<%= form_with(model: workshop) do |form| %>
  <% if workshop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workshop.errors.count, "erreur") %></h2>

      <ul>
        <% workshop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :status, "Statut" %>
    <%= form.select :status, options_for_select(Workshop.statuses.keys.to_a, selected: workshop.status.present? ? workshop.status : 1) %>
  </div>

  <div>
    <%= form.label :comment, "Notes" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit "Sauvegarder l’atelier", class: "button" %>
  </div>
<% end %>
