<div class="content-header">
  <h1>Ateliers</h1>
  <%= link_to "Créer un nouvel atelier", new_workshop_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "name") do %>Nom<% end %>
    <% header.with_column(name: "description") do %>Description<% end %>
    <% header.with_column(name: "city") do %>Ville<% end %>
    <% header.with_column(name: "day_of_week") do %>Jour<% end %>
    <% header.with_column(name: "frequency") do %>Fréquence<% end %>
    <% header.with_column(name: "start_time") do %>Heure de début<% end %>
    <% header.with_column(name: "end_time") do %>Heure de fin<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @workshops.each do |workshop| %>
    <% table.with_row(link_url: workshop) do |row| %>
      <% row.with_cell(name: "name") do %><%= link_to workshop.name %><% end %>
      <% row.with_cell(name: "description") do %><%= link_to workshop.description %><% end %>
      <% row.with_cell(name: "city") do %><%= link_to workshop.city %><% end %>
      <% row.with_cell(name: "day_of_week") do %><%= link_to workshop.day_of_week %><% end %>
      <% row.with_cell(name: "frequency") do %><%= link_to workshop.frequency %><% end %>
      <% row.with_cell(name: "start_time") do %><%= link_to workshop.start_time %><% end %>
      <% row.with_cell(name: "end_time") do %><%= link_to workshop.end_time %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to edit_workshop_path(workshop) do %>
          Editer cet atelier
          <%= inline_svg "icons/chevron-right", { class: "caret" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
