<div class="repel">
  <h1><%= @workshop.name %></h1>

  <div>
    <%= link_to "Créer un nouvel atelier", new_workshop_path(@workshop), class: "button" %>
    <%= link_to "Éditer cet atelier", edit_workshop_path(@workshop), class: "button" %>
    <%= link_to "Retour aux ateliers", workshops_path, class: "button" %>
  </div>
</div>

<div class="page-info">
  <dl class="cluster panel">
    <div>
      <dt>Nombre d’élèves :</dt>
      <dd><%= "#{@confirmed_count} (+#{@optional_count})" %></dd>
    </div>
    <div>
      <dt>Statut :</dt>
      <dd><%= @workshop.status %></dd>
    </div>
    <div>
      <dt>Notes :</dt>
      <dd><%= @workshop.comment %></dd>
    </div>
  </dl>
</div>

<%= render @workshop %>

<%= link_to "Ajouter un créneau d’atelier", new_workshop_workshop_slot_path(workshop_id: @workshop.id), class: "button" %>
