<div id="<%= dom_id slot %>">
  <p>
    <strong>Teacher:</strong>
    <%= slot.teacher_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= slot.city_id %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= slot.day_of_week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= slot.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= slot.end_time %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= slot.frequency %>
  </p>

</div>
