<div class="repel">
  <h1>Créneaux</h1>
  <%= link_to "Créer un nouveau créneau", new_slot_path %>
</div>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "teacher") do %>Professeur<% end %>
    <% header.with_column(name: "city") do %>Ville<% end %>
    <% header.with_column(name: "day_of_week") do %>Jour<% end %>
    <% header.with_column(name: "slot_time") do %>Horaire<% end %>
    <% header.with_column(name: "frequency") do %>Fréquence<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @slots.each do |slot| %>
    <% table.with_row(link_url: slot) do |row| %>
      <% row.with_cell(name: "teacher") do %><%= link_to slot.teacher.name %><% end %>
      <% row.with_cell(name: "city") do %><%= slot.city.name %><% end %>
      <% row.with_cell(name: "day_of_week") do %><%= slot.day_of_week %><% end %>
      <% row.with_cell(name: "slot_time") do %><%= slot.slot_time %><% end %>
      <% row.with_cell(name: "frequency") do %><%= slot.frequency %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to edit_slot_path(slot) do %>
          Editer ce cours
          <%= inline_svg "icons/chevron-right", { class: "caret" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
