<% content_for(:page_class, "ecole youth ") %>
<% content_for(:page_title, "Enfance") %>

<section>
  <p>L’école de musique traditionnelle propose différents ateliers à destination des enfants pour leur permettre de s’initier à la musique et à la pratique instrumentale.</p>
</section>
<section>
  <h2>L’éveil musical</h2>
  <p class="subtitle"><%= "#{number_to_currency(@plan.early_learning_price, unit: "€", precision: 0)}/an" %> – 1 atelier de 45 minutes par semaine</p>
  <%= @early_learning.description.html_safe %>
</section>
<section>
  <h2>Découverte instrumentale</h2>
  <p class="subtitle"><%= "#{number_to_currency(@plan.kid_discovery_price, unit: "€", precision: 0)}/an" %> – 1 atelier de 45 minutes par semaine</p>
  <%= @kid_discovery.description.html_safe %>
</section>
<section>
  <h2>Ensembles jeunesse</h2>
  <p class="subtitle"><%= "#{number_to_currency(@plan.workshop_price, unit: "€", precision: 0)}/an" %> – 1 atelier de 45 minutes par semaine</p>
  <% @kid_workshops.each do |workshop| %>
    <h3><%= workshop.name %></h3>
    <% if workshop.workshop_slots.present? %>
      <ul>
        <% workshop.workshop_slots.each do |slot| %>
          <li>
            <%= "À #{slot.city.name}" %>
            <%= "avec #{slot.teacher_names}" %>
            <%= " – #{slot.slot_time if slot.slot_time.present?}" %>
            <%= "le #{slot.day_of_week.downcase}" if slot.day_of_week.present? && slot.day_of_week != "À définir" %>
            <%= " (#{slot.frequency.downcase if slot.frequency.present?})" %></li>
        <% end %>
      </ul>
    <% end %>
    <%= workshop.description.html_safe %>
  <% end %>
</section>
