<div class="content-header">
  <h1><%= @bogue.name %></h1>

  <div>
    <%= link_to "Éditer cette Bogue", edit_secretariat_bogue_path(@bogue) %> |
    <%= link_to "Retour à la liste des éditions", secretariat_bogues_path %>
  </div>
</div>

<p style="color: green"><%= notice %></p>
<%= render @bogue %>
