<% content_for(:page_class, "ecole workshop-page ") %>
<% content_for(:page_title, @workshop.name) %>

<section class="popout grid">
  <div class="left">
    <h2>Cet atelier a lieu à</h2>
    <div class="tag-list">
      <span class="tag" data-tag-color="red">
        <span><%= @workshop.city.name %></span>
      </span>
    </div>
    <h2>Les professeurs qui animent cet atelier</h2>
    <div class="tag-list">
      <% @workshop.teachers.each do |teacher| %>
        <%= link_to ecole_teacher_path(teacher), class: "tag" do %>
          <span><%= teacher.name %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="right">
    <%= simple_format(@workshop.description) %>
  </div>
</section>
<%= render Website::OtherRecords::Component.new(label: "ateliers") do %>
  <% @other_workshops.each do |workshop| %>
    <%= link_to ecole_workshop_path(workshop), class: "tag", "data-tag-color": "blue" do %>
      <span><%= workshop.name %></span>
    <% end %>
  <% end %>
<% end %>
