<% content_for(:page_class, "ecole workshop-page ") %>
<% content_for(:page_title, @workshop.name) %>

<section class="popout grid">
  <div class="left">
    <dl>
      <dt>Lieu</dt>
      <dd><%= @workshop.city.name %></dd>
      <dt>Horaires</dt>
      <dd><%= @workshop.datetime %></dd>
      <dt>Animé par</dt>
      <dd>
        <% @workshop.teachers.each do |teacher| %>
          <%= link_to ecole_teacher_path(teacher), class: "tag" do %>
            <span><%= teacher.name %></span>
          <% end %>
        <% end %>
      </dd>
    </dl>
  </div>
  <div class="right">
    <%= simple_format(@workshop.description) %>
  </div>
</section>
<%= render Website::OtherRecords::Component.new(label: "ateliers") do %>
  <% @other_workshops.each do |workshop| %>
    <%= link_to ecole_workshop_path(workshop), class: "tag", "data-tag-color": "blue" do %>
      <span><%= workshop.name %></span>
    <% end %>
  <% end %>
<% end %>
