<% content_for(:page_class, "ecole workshop-page ") %>
<% content_for(:page_title, @workshop.name) %>

<div class="flow">
  <div class="popout flow">
    <div class="cluster tag-list">
      <% @workshop.workshop_slots.visible.each do |slot| %>
        <div class="dual-tag">
          <span class="tag">
            <span><%= "#{slot.city.name} : #{[slot.day_of_week.presence, slot.slot_time.presence].compact.join(" - ").presence || "Horaires à définir"}" %></span>
          </span>
          <% if slot.teachers.present? %>
            <% slot.teachers.each do |teacher| %>
              <%= link_to ecole_teacher_path(teacher), class: "tag", "data-tag-color": "dark" do %>
                <span><%= teacher.name %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= simple_format(@workshop.description) %>
  </div>
  <%= render Website::OtherRecords::Component.new(label: "ateliers") do %>
    <% @other_workshops.each do |workshop| %>
      <%= link_to ecole_workshop_path(workshop), class: "tag", "data-tag-color": "secondary" do %>
        <span><%= workshop.name %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
