<% content_for(:page_class, "bogue ") %>
<% content_for(:page_title, "Concours") %>

<section id="contests" class="flow">
  <% @contests.each do |event| %>
    <event-card class="panel row">
      <%= link_to programmation_event_bogue_path(bogue_slug: @bogue.slug, event_slug: event.slug), class: "list-element event-card" do %>
        <time>
          <%= event.date_period %>
          <div><%= event.time_period if event.time_period.present? %></div>
        </time>
        <div class="event-info">
          <h3><%= event.name %></h3>
          <address>
            <%= event.full_location %>
          </address>
        </div>
        <div class="tag-list cluster">
          <span class="tag">
            <span><%= event.event_type %></span>
          </span>
        </div>
      <% end %>
    </event-card>
  <% end %>
</section>
