<div id="<%= dom_id subscription %>">
  <p>
    <strong>Year:</strong>
    <%= subscription.year %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= subscription.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= subscription.course_id %>
  </p>

  <p>
    <strong>Workshop:</strong>
    <%= subscription.workshop_id %>
  </p>

  <p>
    <strong>Paid amount:</strong>
    <%= subscription.paid_amount %>
  </p>

  <p>
    <strong>Payor:</strong>
    <%= subscription.payor_id %>
  </p>

</div>
