<div class="content-header">
  <h1><%= "Élèves – #{@confirmed_count} #{"(+#{@unconfirmed_count})" if @unconfirmed_count > 0}" %></h1>
  <%= link_to "Créer une nouvelle inscription", new_secretariat_subscription_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= form_for secretariat_subscriptions_path,
    method: :get,
    html: {
      data: {
        turbo_frame: "subscriptions"
      },
      class: "filters list-form"
    } do |f| %>
  <fieldset>
    <legend>Filtrer les élèves</legend>
    <div class="flow flex-column gap-3">
      <div class="form-group">
        <div class="form-element">
          <%= label_tag :q, "Nom" %>
          <%= search_field_tag :q, params[:q], placeholder: "Filtrer les noms" %>
        </div>
        <div class="form-element">
          <%= label_tag :status, "Inclure seulement le statut" %>
          <%= select_tag :status, options_for_select(SubscriptionGroup.statuses, params[:status].presence || ""), include_blank: "--- Statut ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :exclude_status, "Exclure le statut" %>
          <%= select_tag :exclude_status, options_for_select(SubscriptionGroup.statuses, params[:exclude_status].presence || ""), include_blank: "--- Statut ---", onchange: "this.form.requestSubmit()" %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-element">
          <%= label_tag :birthyear_under, "Année de naissance supérieure à" %>
          <%= select_tag :birthyear_under, options_for_select((Time.zone.now.year - 100)..(Time.zone.now.year - 1), params[:birthyear_under].presence || ""), include_blank: "--- Tous ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :birthyear_over, "Année de naissance inférieure à" %>
          <%= select_tag :birthyear_over, options_for_select((Time.zone.now.year - 100)..(Time.zone.now.year - 1), params[:birthyear_over].presence || ""), include_blank: "--- Tous ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :ars, "ARS" %>
          <%= check_box_tag :ars, checked: params[:ars].present? && params[:ars] == "1", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :image_consent, "Consentement à l’image" %>
          <%= check_box_tag :image_consent, checked: params[:image_consent].present? && params[:image_consent] == "1", onchange: "this.form.requestSubmit()" %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-element">
          <%= label_tag :q, "Code postal" %>
          <%= search_field_tag :postcode, params[:postcode] %>
        </div>
        <div class="form-element">
          <%= label_tag :city, "Ville" %>
          <%= select_tag :city, options_for_select(@cities, params[:city].presence || ""), include_blank: "--- Tous ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :majoration_class, "Communauté de communes" %>
          <%= select_tag :majoration_class, options_for_select(SubscriptionGroup.majoration_classes, params[:majoration_class].presence || ""), include_blank: "--- Tous ---", onchange: "this.form.requestSubmit()" %>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Filtrer les enseignements</legend>
    <div class="flow flex-column gap-3">
      <div class="form-group">
        <div class="form-element">
          <%= label_tag :teacher, "Professeur" %>
          <%= select_tag :teacher, options_from_collection_for_select(Teacher.active, "id", "name", params[:teacher].presence || ""), include_blank: "--- Professeur ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :kid_workshop, "Enfance" %>
          <%= select_tag "kid_workshop", options_from_collection_for_select(@kid_workshops, "id", "name", params[:kid_workshop].presence || ""), include_blank: "--- Enfance ---", onchange: "this.form.requestSubmit()" %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-element">
          <%= label_tag :instrument, "Discipline" %>
          <%= select_tag "instrument", options_from_collection_for_select(@instruments, "id", "name", params[:instrument].presence || ""), include_blank: "--- Discipline ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :course_day, "Jour du cours" %>
          <%= select_tag :course_day, options_for_select(Slot.day_of_weeks.keys.to_a, params[:course_day].presence || ""), include_blank: "--- Jour de cours ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :course_frequency, "Fréquence du cours" %>
          <%= select_tag :course_frequency, options_for_select(Slot.frequencies.keys.to_a, params[:course_frequency].presence || ""), include_blank: "--- Fréquence du cours ---", onchange: "this.form.requestSubmit()" %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-element">
          <%= label_tag :workshop, "Atelier" %>
          <%= select_tag "workshop", options_from_collection_for_select(@workshops, "id", "name", params[:workshop]), include_blank: "--- Atelier ---", onchange: "this.form.requestSubmit()" %>
        </div>
        <div class="form-element">
          <%= label_tag :workshop_day, "Jour de l’atelier" %>
          <%= select_tag :workshop_day, options_for_select(Slot.day_of_weeks.keys.to_a, params[:workshop_day].presence || ""), include_blank: "--- Jour de l’atelier ---", onchange: "this.form.requestSubmit()" %>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <%= f.button do %>Rechercher<% end %>
    <button class="button" data-emails-list-value="<%= @selected_emails %>" data-controller="emails" data-action="emails#copyList">Copier la liste des emails</button>
  </div>
<% end %>
<div>
  <%# form_with url: secretariat_subscriptions_send_email_path do |form| %>
    <%# form.submit "Envoyer un email" %>
  <%# end %>
</div>
<%= turbo_frame_tag "subscriptions", class: "flex-column gap-3" do %>
  <h2><%= @item_size %> élèves</h2>
  <%== pagy_nav(@pagy) %>
  <%= render Shared::Table::Component.new("data-controller": "linkable") do |table| %>
    <% table.with_header(sort: @sort_attribute, direction: @sort_direction, base_request_params: request.query_parameters) do |header| %>
      <% header.with_column(name: "student", sortable: true) do %>Élève<% end %>
      <% header.with_column(name: "birth_year", sortable: true) do %>Année de naissance<% end %>
      <% header.with_column(name: "city") do %>Ville<% end %>
      <% header.with_column(name: "phone") do %>Téléphone<% end %>
      <% header.with_column(name: "email") do %>Email<% end %>
      <% header.with_column(name: "course") do %>Cours<% end %>
      <% header.with_column(name: "workshop") do %>Ateliers<% end %>
      <% header.with_column(name: "status") do %>Statut<% end %>
    <% end %>
    <% @subscriptions.each do |subscription| %>
      <% table.with_row(link_url: secretariat_subscription_path(subscription), class: "#{subscription.optional? ? "optional" : "confirmed"}") do |row| %>
        <% row.with_cell(name: "student") do %><%= link_to subscription.student.name, secretariat_subscription_path(subscription), "data-turbo": false %><% end %>
        <% row.with_cell(name: "birth_year") do %><%= subscription.student.birth_year.presence %><% end %>
        <% row.with_cell(name: "city") do %><%= subscription.student.city_or_payor_city %><% end %>
        <% row.with_cell(name: "phone") do %><%= format_phone(subscription.phone) %><% end %>
        <% row.with_cell(name: "email") do %><%= subscription.email %><% end %>
        <% row.with_cell(name: "course") do %>
          <%= [subscription.kid_workshop_list, subscription.course_list, subscription.pathway_list].reject!(&:empty?).join(", ") %><% end %>
        <% row.with_cell(name: "workshop") do %><%= subscription.workshop_list %><% end %>
        <% row.with_cell(name: "status") do %>
          <%= subscription.subscription_group.payment_state %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%== pagy_nav(@pagy) %>
<% end %>
