<div>
  <%= form.label :first_name, style: "display: block" %>
  <%= form.text_field :first_name %>
</div>

<div>
  <%= form.label :last_name, style: "display: block" %>
  <%= form.text_field :last_name %>
</div>

<div>
  <%= form.label :gender, style: "display: block" %>
  <%= form.number_field :gender %>
</div>

<div>
  <%= form.label :phone, style: "display: block" %>
  <%= form.text_field :phone %>
</div>

<div>
  <%= form.label :email, style: "display: block" %>
  <%= form.text_field :email %>
</div>
