<div class="flow" data-controller="address">
  <div class="condition cluster">
    <label for="is_payor"><%= check_box_tag :is_payor, class: "hide-condition" %> L’élève est le payeur</label>
  </div>

  <div class="conditional-block flow">
    <div class="cluster">
      <div class="flow">
        <label for="student_first_name">Prénom</label>
        <%= text_field :student, :first_name %>
      </div>

      <div class="flow">
        <label for="student_last_name" class="required">Nom</label>
        <%= text_field :student, :last_name %>
      </div>
    </div>

    <div class="cluster condition">
      <label for="payor_address"><%= check_box_tag :payor_address, class: "hide-condition" %> Utiliser les coordonnées du payeur</label>
    </div>

    <div class="conditional-block flow">
      <div class="flow">
        <label for="student_comment">Adresse</label>
        <%= text_field :student, :address, class: "double", "data-action": "address#search focus->address#search click@window->address#hideList", "data-address-target": "address" %>
        <%= render "website/autocomplete" %>
      </div>

      <div class="cluster">
        <div class="flow">
        <label for="student_postcode">Code Postal</label>
          <%= text_field :student, :postcode, "data-address-target": "postcode" %>
        </div>

        <div class="flow">
        <label for="student_city">Ville</label>
          <%= text_field :student, :city, "data-address-target": "city" %>
        </div>
      </div>

      <div class="cluster">
        <div class="flow">
          <label for="student_phone">Téléphone</label>
          <%= text_field :student, :phone %>
        </div>

        <div class="flow">
          <label for="student_email">Email</label>
          <%= text_field :student, :email %>
        </div>
      </div>
    </div>
  </div>

  <div class="cluster">
    <div class="flow">
      <label for="student_birth_year">Année de naissance</label>
      <%= text_field :student, :birth_year, required: true %>
    </div>

    <div class="flow">
      <label for="student_gender">Genre</label>
      <%= select :student, :gender, Student.genders.keys.map {|gender| [gender,gender]} %>
    </div>
  </div>

  <div class="flow">
    <label for="student_comment">Notes</label>
    <%= text_area :payor, :comment, rows: 2 %>
  </div>
</div>
