<div class="content-header">
  <h1>Elèves</h1>
  <%= link_to "Créer un nouvel élève", new_student_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "name") do %>Créneau<% end %>
    <% header.with_column(name: "email") do %>Email<% end %>
    <% header.with_column(name: "gender") do %>Genre<% end %>
    <% header.with_column(name: "phone") do %>Téléphone<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @students.each do |student| %>
    <% table.with_row(link_url: student) do |row| %>
      <% row.with_cell(name: "name") do %><%= link_to "#{student.first_name} #{student.last_name}" %><% end %>
      <% row.with_cell(name: "email") do %><%= link_to student.email %><% end %>
      <% row.with_cell(name: "gender") do %><%= link_to student.gender %><% end %>
      <% row.with_cell(name: "phone") do %><%= link_to student.phone %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to edit_student_path(student) do %>
          Editer cet élève
          <%= inline_svg "icons/chevron-right", { class: "caret" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
