<% content_for(:page_class, "subscriptions ") %>
<div class="repel">
  <h1>
    <%= @student.name %>
    (<%= link_to "Foyer #{@subscription.payor.name}", payor_url(season: @season, record: @subscription.payor) %>)
  </h1>

  <div>
    <%= link_to "Éditer la fiche de l'élève", edit_season_student_path(@student), class: "button" %>
    <%= link_to "Retour aux inscriptions", subscriptions_path, class: "button" %>
  </div>
</div>

<% if @subscription.present? %>
  <div class="panel">
    <turbo-frame id="student">
      <dl class="cluster">
        <div>
          <dt>Année de naissance :</dt>
          <dd><%= @student.birth_year %></dd>
        </div>
        <div>
          <dt>Genre :</dt>
          <dd><%= @student.gender %></dd>
        </div>
      </dl>
      <dl class="cluster">
        <div>
          <dt>Email :</dt>
          <dd><%= @student.email_or_payor_email %></dd>
        </div>
        <div>
          <dt>Téléphone :</dt>
          <dd><%= format_phone(@subscription.phone) %></dd>
        </div>
        <div>
          <dt>Adresse :</dt>
          <dd><%= @subscription.address %></dd>
        </div>
        <div>
          <dt>Code postal :</dt>
          <dd><%= @subscription.postcode %></dd>
        </div>
        <div>
          <dt>Ville :</dt>
          <dd><%= @subscription.city %></dd>
        </div>
      </dl>
      <% if @student.comment.present? %>
        <dl>
          <div>
            <dt>Commentaires sur l'élève :</dt>
            <dd><%= @student.comment %></dd>
          </div>
        <dl>
      <% end %>
    </turbo-frame>
  </div>
  <div class="panel">
    <%= render "subscriptions/subscription", subscription: @subscription %>
  </div>

  <%= render "subscription", subscription: @subscription %>

  <%= link_to "Supprimer cette inscription",
    subscription_path(@subscription),
    class: "button",
    data: {
      "button-variant": "alert",
      turbo_method: :delete,
      turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cette inscription ?"
    } %>
<% else %>
  <div class="banner">Cet·te élève n’a pas d’inscription pour l‘année <%= @season.name %></div>
<% end %>
