<% content_for(:page_class, "subscriptions ") %>
<div class="repel">
  <h1>
    <%= @student.name %>
    <% if @subscription.present? %>
      <%= link_to "Foyer #{@subscription.household.name}", household_url(season: @season, record: @subscription.household), class: "button" %>
    <% end %>
  </h1>

  <div>
    <%= link_to "Retour aux inscriptions", season_students_path(@season.name), class: "button" %>
  </div>
</div>

<% if @subscription.present? %>
  <div class="panel">
    <%= render "student", student: @student %>
  </div>
  <div class="panel">
    <%= render "subscriptions/subscription", subscription: @subscription %>
  </div>

  <%= render "subscription", subscription: @subscription %>

  <%= link_to "Supprimer cette inscription",
    subscription_path(@subscription),
    class: "button",
    data: {
      "button-variant": "alert",
      turbo_method: :delete,
      turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cette inscription ?"
    } %>
<% else %>
  <div class="banner">Cet·te élève n’a pas d’inscription pour l‘année <%= @season.name %></div>
<% end %>
