<% @seasons.each do |season| %>
  <h2>Année <%= season.name %></h2>
  <div class="grid">
    <%= link_to subscriptions_url(season: season), class: "card panel" do %>
      <div class="card-info">
        <h3>Tous les élèves</h3>
        <div><%= season.active_subscription_size %></div>
      </div>
    <% end %>
    <%= link_to "#{subscriptions_url(season: season)}?exclude_status=0", class: "card panel" do %>
      <div class="card-info">
        <h3>Élèves confirmés</h3>
        <div><%= season.confirmed_subscription_size %></div>
      </div>
    <% end %>
    <%= link_to "#{subscriptions_url(season: season)}?status=0", class: "card panel" do %>
      <div class="card-info">
        <h3>Demandes d’information</h3>
        <div><%= season.unconfirmed_subscription_size %></div>
      </div>
    <% end %>
    <div class="card panel">
      <div class="card-info">
        <h3>Nombre d'élèves en atelier adulte</h3>
        <div><%= Workshop.get_count(season) %></div>
      </div>
    </div>
    <div class="card panel">
      <div class="card-info">
        <h3>Nombre d'élèves en atelier enfance (tous confondus)</h3>
        <div><%= KidWorkshop.get_count(season) %></div>
      </div>
    </div>
    <div class="card panel">
      <div class="card-info">
        <h3>Nombre d'élèves en éveil musical</h3>
        <div><%= KidWorkshop.get_workshop_count(season, 63) %></div>
      </div>
    </div>
    <div class="card panel">
      <div class="card-info">
        <h3>Nombre d'élèves en découverte instrumentale</h3>
        <div><%= KidWorkshop.get_workshop_count(season, 62) %></div>
      </div>
    </div>
  </div>
<% end %>
