<% @seasons.each do |season| %>
  <h2>Année <%= season.name %></h2>
  <div class="grid">
    <%= link_to subscriptions_url(season: season), class: "card panel" do %>
      <div class="card-info">
        <h3>Tous les élèves</h3>
        <div><%= season.active_subscription_size %></div>
      </div>
    <% end %>
    <%= link_to "#{subscriptions_url(season: season)}?exclude_status=0", class: "card panel" do %>
      <div class="card-info">
        <h3>Élèves confirmés</h3>
        <div><%= season.confirmed_subscription_size %></div>
      </div>
    <% end %>
    <%= link_to "#{subscriptions_url(season: season)}?status=0", class: "card panel" do %>
      <div class="card-info">
        <h3>Demandes d’information</h3>
        <div><%= season.unconfirmed_subscription_size %></div>
      </div>
    <% end %>
    <div class="card panel">
      <div class="card-info">
        <h3>Élèves avec cours</h3>
        <div><%= season.active_subscriptions.includes(:courses).where.not(courses: {id: nil}).size %></div>
      </div>
    </div>
    <div class="card panel">
      <div class="card-info">
        <h3>Élèves avec ateliers seulement</h3>
        <div><%= season.active_subscriptions.includes(:courses).where(courses: {id: nil}).size %></div>
      </div>
    </div>
  </div>
<% end %>
