<div id="<%= dom_id workshop %>">
  <p>
    <strong>Name:</strong>
    <%= workshop.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workshop.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= workshop.city_id %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= workshop.day_of_week %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= workshop.frequency %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= workshop.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= workshop.end_time %>
  </p>

</div>
