<div class="content-header">
  <h1>Ateliers</h1>
  <%= link_to "Créer un nouvel atelier", new_secretariat_workshop_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "name") do %>Nom<% end %>
    <% header.with_column(name: "subscriptions") do %>Nombre d'élèves<% end %>
  <% end %>
  <% @workshops.each do |workshop| %>
    <% table.with_row(link_url: workshop) do |row| %>
      <% row.with_cell(name: "name") do %><%= link_to workshop.name, secretariat_workshop_path(workshop) %><% end %>
      <% row.with_cell(name: "subscriptions") do %>
        <% workshop.workshop_slots.each do |slot| %>
          <div>
            <strong>
              <%= "#{SubbedWorkshop.registered.confirmed.has_slot(slot).size}" %>
              <% @student_count = SubbedWorkshop.registered.optional.has_slot(slot).size + SubbedWorkshop.inquired.has_slot(slot).size %>
                <% if @student_count > 0 %>
                <span class="optional-count">
                  <%= "(+#{@student_count})" %>
                </span>
              <% end %>
            </strong>
            <% if workshop.workshop_slots.size > 1 %>
              <%= ": #{slot.teachers_and_location}" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
