<div id="<%= dom_id payor %>" class="record">
  <div class="page-info">
    <dl class="horizontal">
      <dt>Nom :</dt>
      <dd><%= payor.name %></dd>
      <dt>Adresse :</dt>
      <dd><%= payor.full_address %></dd>
    </dl>
    <dl class="horizontal">
      <dt>Email :</dt>
      <dd><%= payor.email %></dd>
      <dt>Téléphone :</dt>
      <dd><%= format_phone(payor.phone) %></dd>
    </dl>
  </div>

  <section class="flex-column gap-8">
    <% payor.subscription_groups.each do |subscription_group| %>
      <div>
        <h2>Membres du foyer</h2>
        <%= render Shared::Table::Component.new do |table| %>
          <% table.with_header do |header| %>
            <% header.with_column(name: "student") do %>Élève<% end %>
            <% header.with_column(name: "birth_year") do %>Année de naissance<% end %>
            <% header.with_column(name: "comment") do %>Notes<% end %>
          <% end %>
          <% subscription_group.subscriptions.each do |subscription| %>
            <% table.with_row(link_url: secretariat_subscription_path(subscription)) do |row| %>
              <% row.with_cell(name: "student") do %><%= link_to subscription.student.name, secretariat_subscription_path(subscription), "data-turbo": false %><% end %>
              <% row.with_cell(name: "birth_year") do %><%= subscription.student.birth_year %><% end %>
              <% row.with_cell(name: "comment") do %><%= subscription.student.comment %><% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
        <h2>Inscriptions</h2>
        <%= render Shared::Table::Component.new do |table| %>
          <% table.with_header do |header| %>
            <% header.with_column(name: "type") do %>Type d’inscription<% end %>
            <% header.with_column(name: "student") do %>Élève<% end %>
            <% header.with_column(name: "day_of_week") do %>Jour<% end %>
            <% header.with_column(name: "city") do %>Ville<% end %>
            <% header.with_column(name: "comment") do %>Notes<% end %>
          <% end %>
          <% subscription_group.subscriptions.each do |subscription| %>
            <% subscription.subbed_kid_workshops.each do |subbed_kid_workshop| %>
              <% table.with_row do |row| %>
                <% row.with_cell(name: "type") do %><%= subbed_kid_workshop.kid_workshop.name %><% end %>
                <% row.with_cell(name: "student") do %><%= subbed_kid_workshop.student.name %><% end %>
                <% row.with_cell(name: "day_of_week") do %><%= subbed_kid_workshop.kid_workshop_slot.day_of_week %><% end %>
                <% row.with_cell(name: "city") do %><%= subbed_kid_workshop.kid_workshop_slot.city.name %><% end %>
                <% row.with_cell(name: "comment") do %><%= subbed_kid_workshop.comment %><% end %>
              <% end %>
            <% end %>
            <% subscription.courses.each do |course| %>
              <% table.with_row do |row| %>
                <% row.with_cell(name: "type") do %><%= course.instrument.name %><% end %>
                <% row.with_cell(name: "student") do %><%= course.student.name %><% end %>
                <% row.with_cell(name: "day_of_week") do %><%= course.slot.day_of_week %><% end %>
                <% row.with_cell(name: "city") do %><%= course.slot.city.name %><% end %>
                <% row.with_cell(name: "comment") do %><%= course.comment %><% end %>
              <% end %>
            <% end %>
            <% subscription.subbed_workshops.each do |subbed_workshop| %>
              <% table.with_row do |row| %>
                <% row.with_cell(name: "type") do %><%= subbed_workshop.workshop.name %><% end %>
                <% row.with_cell(name: "student") do %><%= subbed_workshop.student.name %><% end %>
                <% row.with_cell(name: "day_of_week") do %><%= subbed_workshop.workshop_slot.day_of_week %><% end %>
                <% row.with_cell(name: "city") do %><%= subbed_workshop.workshop_slot.city.name %><% end %>
                <% row.with_cell(name: "comment") do %><%= subbed_workshop.comment %><% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
        <h2>Paiements</h2>
        <dl class="horizontal">
          <dt>Montant :</dt>
          <dd><%= payor.current_subscription_group.amount %></dd>
          <dt>Agglo :</dt>
          <dd><%= payor.current_subscription_group.majoration_class %></dd>
        </dl>
        <%= render Shared::Table::Component.new do |table| %>
          <% table.with_header do |header| %>
            <% header.with_column(name: "payment_method") do %>Type de paiement<% end %>
            <% header.with_column(name: "amount") do %>Montant<% end %>
            <% header.with_column(name: "comment") do %>Notes<% end %>
          <% end %>
          <% subscription_group.payments.each do |payment| %>
            <% table.with_row do |row| %>
              <% row.with_cell(name: "payment_method") do %><%= payment.payment_method %><% end %>
              <% row.with_cell(name: "amount") do %><%= payment.amount %><% end %>
              <% row.with_cell(name: "comment") do %><%= payment.comment %><% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
