<div class="content-header">
  <h1>Foyers</h1>
  <%= link_to "Créer un nouveau foyer", new_secretariat_payor_path %>
</div>

<p style="color: green"><%= notice %></p>

<%= form_for secretariat_payors_path,
    method: :get,
    html: {
      data: {
        turbo_frame: "payors"
      },
      class: "list-form"
    } do |f| %>
  <div class="form-group">
    <div class="form-element">
      <%= label_tag :q, "Noms" %>
      <div class="search-input">
        <%= search_field_tag :q, params[:q], placeholder: "Filtrer les noms" %>
        <%= f.button do %>
          <%= inline_svg_tag "icons/search.svg" %>
        <% end %>
      </div>
    </div>
    <div class="form-element">
      <%= label_tag :status, "Inclure seulement le statut" %>
      <%= select_tag :status, options_for_select(SubscriptionGroup.statuses, params[:status].presence || ""), include_blank: "--- Statut ---", onchange: "this.form.requestSubmit()" %>
    </div>
  </div>
<% end %>
<button class="button" data-emails-list-value="<%= @selected_emails %>" data-controller="emails" data-action="emails#copyList">Copier la liste des emails</button>

<%= turbo_frame_tag "payors", class: "flex-column gap-3" do %>
  <%== pagy_nav(@pagy) %>
  <%= render Shared::Table::Component.new do |table| %>
    <% table.with_header(sort: @sort_attribute, direction: @sort_direction, base_request_params: request.query_parameters) do |header| %>
      <% header.with_column(name: "last_name", sortable: true) do %>Nom<% end %>
      <% header.with_column(name: "students") do %>Membres du foyer<% end %>
      <% header.with_column(name: "city") do %>Ville<% end %>
      <% header.with_column(name: "email") do %>Email<% end %>
      <% header.with_column(name: "phone") do %>Téléphone<% end %>
      <% header.with_column(name: "status") do %>Status<% end %>
      <% header.with_column(name: "amount") do %>Montant<% end %>
    <% end %>
    <% @payors.each do |payor| %>
      <% table.with_row(link_url: payor) do |row| %>
        <% row.with_cell(name: "name") do %><%= link_to payor.last_name, secretariat_payor_path(payor), "data-turbo": false %><% end %>
        <% row.with_cell(name: "students") do %><%= payor.current_subscription_group.present? ? payor.current_subscription_group.subscriptions.size : 0 %><% end %>
        <% row.with_cell(name: "city") do %><%= payor.city %><% end %>
        <% row.with_cell(name: "email") do %><%= payor.email %><% end %>
        <% row.with_cell(name: "phone") do %><%= format_phone(payor.phone) %><% end %>
        <% row.with_cell(name: "status") do %><%= payor.current_subscription_group.payment_state %><% end %>
        <% row.with_cell(name: "amount") do %><%= number_to_currency(payor.current_subscription_group.amount, unit: "€") if payor.current_subscription_group.present? %><% end %>
      <% end %>
    <% end %>
  <% end %>
  <%== pagy_nav(@pagy) %>
<% end %>
