<div class="content-header">
  <h1><%= @payor.name %></h1>

  <div>
    <%= link_to "Éditer le payeur", edit_secretariat_payor_path(@payor) %> |
    <%= link_to "Retour à la liste des foyers", secretariat_payors_path %>
  </div>
</div>

<p style="color: green"><%= notice %></p>

<%= render @payor %>
