<p style="color: green"><%= notice %></p>

<%= render @payor %>

<div>
  <%= link_to "Edit this payor", edit_secretariat_payor_path(@payor) %> |
  <%= link_to "Back to payors", secretariat_payors_path %>

  <%= button_to "Destroy this payor", @payor, method: :delete %>
</div>
