<div id="<%= dom_id course %>">
  <p>
    <strong>Slot:</strong>
    <%= course.slot_id %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= course.instrument_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

</div>
