<% if subscription.errors.any? %>
  <div class="banner" data-banner-variant="alert">
    <ul>
      <% subscription.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: subscription, url: account_subscriptions_path, class: "subscription-form") do |form| %>
  <div class="switcher">
    <div class="panel flow">
      <h3>Élève</h3>
      <% if @students.present? %>
        <%= turbo_frame_tag "student", class: "cluster" do %>
          <%= text_field :student, :name, list: "student-list", placeholder: "Rechercher un élève existant", required: true %>
          <datalist id="student-list">
            <% @students.each do |student| %>
              <option value="<%= student.name %>"><%= student.name %></option>
            <% end %>
          </datalist>
          ou
          <%= link_to "Créer un nouvel élève", new_student_path, class: "button" %>
        <% end %>
      <% else %>
        <%= form.fields_for :student, Student.new do |student_form| %>
          <div class="flow">
            <% unless current_user.current_subscription.present? %>
              <div class="condition cluster">
                <label for="is_household"><%= check_box_tag :is_household, class: "hide-condition" %> L’inscription est pour moi-même</label>
              </div>
            <% end %>

            <div class="conditional-block flow">
              <div class="cluster">
                <div class="flow">
                  <%= student_form.label :first_name, "Prénom" %>
                  <%= student_form.text_field :first_name, required: true %>
                </div>

                <div class="flow">
                  <%= student_form.label :lasst_name, "Nom" %>
                  <%= student_form.text_field :last_name, required: true %>
                </div>
              </div>
            </div>

            <div class="cluster">
              <div class="flow">
                <label for="student_birth_year">Année de naissance</label>
                <%= student_form.text_field :birth_year, required: true %>
              </div>

              <div class="flow">
                <label for="student_gender">Genre</label>
                <%= student_form.select :gender, Student.genders.keys.map {|gender| [gender,gender]} %>
              </div>
            </div>

            <div class="conditional-block flow" data-controller="address">
              <div class="condition flow">
                <label>Utiliser l'adresse du représentant légal</label>
                <div class="cluster">
                  <label for="household_address_yes"><%= radio_button_tag :household_address, "yes", :true, checked: true %> Oui</label>
                  <label for="household_address_no"><%= radio_button_tag :household_address, "no", :false, class: "display-condition" %> Non</label>
                </div>
              </div>

              <div class="conditional-block flow">
                <div class="flow">
                  <label for="student_comment">Adresse</label>
                  <%= text_field :student, :address, class: "double", "data-action": "address#search focus->address#search click@window->address#hideList", "data-address-target": "address" %>
                  <%= render "website/autocomplete" %>
                </div>

                <div class="cluster">
                  <div class="flow">
                    <label for="student_postcode">Code Postal</label>
                    <%= text_field :student, :postcode, "data-address-target": "postcode" %>
                  </div>

                  <div class="flow">
                    <label for="student_city">Ville</label>
                    <%= text_field :student, :city, "data-address-target": "city" %>
                  </div>
                </div>

                <div class="cluster">
                  <div class="flow">
                    <label for="student_phone">Téléphone</label>
                    <%= text_field :student, :phone %>
                  </div>

                  <div class="flow">
                    <label for="student_email">Email</label>
                    <%= text_field :student, :email %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="cluster">
        <label for="subscription_image_consent">
          <%= form.check_box :image_consent %>
          <%= form.label :image_consent, "Consentement à l'image" %>
        </label>
        <label for="subscription_disability">
          <%= form.check_box :disability %>
          <%= form.label :disability, "Situation empêchée" %>
        </label>
        <label for="subscription_ars">
          <%= form.check_box :ars %>
          <%= form.label :ars, "ARS" %>
        </label>   
      </div>
    </div>

    <div class="flow">
      <div class="panel flow">
        <h3>Enfance</h3>
        <%= turbo_frame_tag form.field_id(:subbed_kid_workshops) do %>
          <%= dynamic_fields_for form, :subbed_kid_workshops, "Ajouter un atelier" do |kid_workshop_form| %>
            <div class="panel flow" data-controller="fill-select" data-nowrap>
              <div class="flow">
                <%= label_tag "Nom de l'atelier" %>
                <%= collection_select :kid_workshop, :kid_workshop_ids, @kid_workshops, :id, :name, { include_blank: "---", required: true },
                  {
                    class: "choice",
                    data: {
                      fill_select_target: "slotParent",
                      fill_select_url_param: "/get_workshop_slots?id=",
                      fill_select_target_param: ".kid-workshop-slot-select",
                      action: "fill-select#updateSlots"
                    }
                  } %>
              </div>
              <%= render "kid_workshop_slots", slots: [], form: kid_workshop_form, selected: "" %>
              <button class="button" data-action="fill-select#removeRow" aria-label="Supprimer cet atelier" data-button-size="small" data-button-variant="alert"><%= inline_svg "icons/cross" %>Supprimer cet atelier</button>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="panel flow">
        <h3>Cours</h3>
        <%= turbo_frame_tag form.field_id(:courses) do %>
          <%= dynamic_fields_for form, :courses, "Ajouter un cours" do |course_form| %>
            <div class="panel flow" data-controller="fill-select" data-nowrap>
              <div class="flow">
                <%= course_form.label "Discipline" %>
                <%= course_form.collection_select :instrument_id, @instruments, :id, :name, { include_blank: "---", required: true },
                  {
                    class: "choice",
                    data: {
                      fill_select_target: "course",
                      fill_select_url_param: "/get_teachers?id=",
                      fill_select_target_param: ".teacher-select",
                      fill_select_reset_param: ".slot-select",
                      action: "fill-select#updateTeachers",
                    }
                  } %>
              </div>
              <%= render "teachers", teachers: [] %>
              <%= render "slots", slots: [], form: course_form %>
              <button class="button" data-button-size="small" data-action="fill-select#removeRow" aria-label="Supprimer ce cours" data-button-size="small" data-button-variant="alert"><%= inline_svg "icons/cross" %>Supprimer ce cours</button>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="panel flow">
        <h3>Ateliers</h3>
        <%= turbo_frame_tag form.field_id(:subbed_workshops) do %>
          <%= dynamic_fields_for form, :subbed_workshops, "Ajouter un atelier" do |workshop_form| %>
            <div class="panel flow" data-controller="fill-select" data-nowrap>
              <div class="flow">
                <%= label_tag "Nom de l'atelier" %>
                <%= collection_select :workshop, :workshop_ids, @workshops, :id, :name, { include_blank: "---", required: true },
                  {
                    class: "choice",
                    data: {
                      fill_select_target: "slotParent",
                      fill_select_url_param: "/get_workshop_slots?id=",
                      fill_select_target_param: ".workshop-slot-select",
                      action: "fill-select#updateSlots"
                    }
                  } %>
              </div>
              <%= render "workshop_slots", slots: [], form: workshop_form %>
              <button class="button" data-action="fill-select#removeRow" aria-label="Supprimer cet atelier" data-button-size="small" data-button-variant="alert"><%= inline_svg "icons/cross" %>Supprimer cet atelier</button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= form.submit "Ajouter cet élève", class: "button" %>
<% end %>
