<div id="new-subscription flow">
  <h1>Nouvelle inscription yo</h1>

  <%= form_with(model: @student, class: "flow") do |form| %>
    <div class="condition cluster">
      <label for="is_payor_yes"><%= radio_button_tag :is_payor, "yes" %> Pour moi-même</label>
      <label for="is_payor_no"><%= radio_button_tag :is_payor, "no", class: "display-condition" %> Pour un membre de mon foyer</label>
    </div>

    <%= render "form", student: @student %>

    <%= form.submit "Ajouter un·e élève", class: "button" %>
  <% end %>
</div>
