<nav>
  <%= link_to "Professeurs", secretariat_teachers_path %>
  <%= link_to "Créneau", secretariat_slots_path %>
  <%= link_to "Cours", secretariat_courses_path %>
  <%= link_to "Ateliers", secretariat_workshops_path %>
  <%= link_to "Elèves", secretariat_students_path %>
  <%= link_to "Inscriptions", secretariat_subscriptions_path %>
  <%= link_to "Payeurs", secretariat_payors_path %>
  <%= link_to "Instruments", secretariat_instruments_path %>
  <%= link_to "Villes", secretariat_cities_path %>
</nav>
