<nav>
  <%= link_to "Professeurs", teachers_path %>
  <%= link_to "Créneau", slots_path %>
  <%= link_to "Cours", courses_path %>
  <%= link_to "Ateliers", workshops_path %>
  <%= link_to "Elèves", students_path %>
  <%= link_to "Inscriptions", subscriptions_path %>
  <%= link_to "Payeurs", payors_path %>
  <%= link_to "Instruments", instruments_path %>
  <%= link_to "Villes", cities_path %>
</nav>
