<nav>
  <%= link_to "Élèves", secretariat_subscriptions_path %>
  <%= link_to "Professeurs", "#{secretariat_teachers_path}?status=0" %>
  <%= link_to "Disciplines", secretariat_instruments_path %>
  <%= link_to "Enfance", secretariat_kid_workshops_path %>
  <%= link_to "Ateliers", secretariat_workshops_path %>
  <%= link_to "Foyers", secretariat_payors_path %>
  <%= link_to "Événements", secretariat_events_path %>
  <%= link_to "Actualités", secretariat_posts_path %>
  <%= link_to "Bogue", secretariat_bogues_path %>
  <%# link_to "Emails", secretariat_emails_path %>
</nav>
