<div class="content-header">
  <h1><%= @teacher.name %></h1>

  <div>
    <%= link_to "Éditer ce professeur", edit_secretariat_teacher_path(@teacher) %> |
    <%= link_to "Retour à la liste des professeurs", secretariat_teachers_path %>
  </div>
</div>

<p style="color: green"><%= notice %></p>

<%= render @teacher %>
