<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
  <%= link_to "Edit this teacher", edit_secretariat_teacher_path(@teacher) %> |
  <%= link_to "Back to teachers", secretariat_teachers_path %>

  <%= button_to "Destroy this teacher", @teacher, method: :delete %>
</div>
