<div id="<%= dom_id event %>">
  <dl>
    <dt>Date :</dt>
    <dd><%= event.date_period %></dd>
    <dt>Lieu :</dt>
    <dd><%= event.location %></dd>
    <dt>Ville :</dt>
    <dd><%= event.city %></dd>
    <dt>Organisateur :</dt>
    <dd><%= event.organizer %></dd>
    <dt>Site :</dt>
    <dd><%= event.website %></dd>
    <dt>Status :</dt>
    <dd><%= event.status %></dd>
    <dt>Lié à l’EMT :</dt>
    <dd><%= event.is_emt ? "Oui" : "Non" %></dd>
    <dt>Description :</dt>
    <dd>
      <div class="editor-content-wrapper">
        <%= event.formatted_content %>
      </div>
    </dd>
    <dt>Notes :</dt>
    <dd><%= event.comment %></dd>
  </dl>
</div>

<%= link_to "Supprimer cet événement",
  event_path(event.id),
  class: "button",
  data: {
    "button-variant": "alert",
    turbo_method: :delete,
    turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cet événement ?"
  } %>
