<%= form_for event, url: url, data: {controller: "editor address", "editor-file-url-value": "/evenements/upload_file"} do |form| %>
  <div class="flow">
    <%= form.label :name, "Titre" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="flow">
    <%= form.label :start_date, "Date de début" %>
    <%= form.date_field :start_date, required: true %>
  </div>

  <div class="flow">
    <%= form.label :end_date, "Date de fin" %>
    <%= form.date_field :end_date %>
  </div>

  <div class="flow">
    <%= form.label :location, "Lieu" %>
    <%= form.text_field :location %>
  </div>

  <div class="flow">
    <%= form.label :city, "Ville" %>
    <%= form.text_field :city, "data-action": "address#searchCity focus->address#searchCity click@window->address#hideList", "data-address-target": "address", required: true %>
    <%= render "website/autocomplete" %>
  </div>

  <div class="flow">
    <%= form.label :organizer, "Organisateur" %>
    <%= form.text_field :organizer %>
  </div>

  <div class="flow">
    <%= form.label :website, "Site" %>
    <%= form.text_field :website %>
  </div>

  <div class="flow">
    <%= form.label :status, "Statut de l’événement" %>
    <%= form.select :status, options_for_select(Post.statuses.keys.to_a, selected: event.present? ? event.status : 0) %>
  </div>

  <div class="flow">
    <%= form.label :bogue_id, "Lié à la Bogue" %>
    <%= form.collection_select :bogue_id, @bogues, :id, :name, { selected: @event&.bogue_id || "", include_blank: "---" } %>
  </div>

  <div class="flow">
    <%= form.label :is_emt, "Lié à l’EMT" %>
    <%= form.check_box :is_emt %>
  </div>

  <div class="flow">
    <%= form.label :content, "Description" %>
    <div id="event_content" data-editor-target="editor"></div>
  </div>

  <div class="flow">
    <%= form.label :comment, "Notes" %>
    <%= form.text_area :comment %>
  </div>

  <%= form.hidden_field :content, id: "event_content_hidden", data: {"editor-target": "hidden"} %>
  <%= form.submit "Sauvegarder l’événement", class: "button" %>
<% end %>
