<% content_for(:page_class, "event-page ") %>
<% content_for(:page_title, @event.name) %>

<section class="event-description feature panel grid" data-grid="1-3">
  <aside>
    <dl>
      <dt>Date</dt>
      <dd><%= @event.date_period %></dd>
      <% if @event.location.present? %>
        <dt>Lieu</dt>
        <dd><%= @event.location %></dd>
      <% end %>
      <dt>Ville</dt>
      <dd><%= @event.city %></dd>
      <% if @event.organizer.present? %>
        <dt>Organisateurs</dt>
        <dd><%= @event.organizer %></dd>
      <% end %>
      <% if @event.website.present? %>
        <dt>Site internet</dt>
        <dd><%= link_to @event.website, @event.website %></dd>
      <% end %>
      <% if @posts.present? %>
        <dt>Actualités de l’événement</dt>
        <dd>
          <ul>
            <% @posts.each do |post| %>
              <li><%= link_to post.title, post %></li>
            <% end %>
          </ul>
        </dd>
      <% end %>
    </dl>
    <% unless @event.content.present? %>
      <%= image_tag @event.image %>
    <% end %>
  </aside>
  <div class="description">
    <%= @event.formatted_content || simple_format(@event.description) %>
  </div>
</section>
