<% content_for(:page_class, "event-page ") %>
<% content_for(:page_title, @event.name) %>

<section class="event-description popout grid" data-grid="2-3">
  <div class="left">
    <dl>
      <dt>Date</dt>
      <dd><%= @event.date_period %></dd>
      <% if @event.location.present? %>
        <dt>Lieu</dt>
        <dd><%= @event.location %></dd>
      <% end %>
      <% if @event.organizer.present? %>
        <dt>Organisateurs</dt>
        <dd><%= @event.organizer %></dd>
      <% end %>
      <% if @event.website.present? %>
        <dt>Site internet</dt>
        <dd><%= link_to @event.website, @event.website %></dd>
      <% end %>
    </dl>
    <%= image_tag @event.image %>
  </div>
  <div class="description">
    <%= simple_format(@event.description) %>
  </div>
</section>
