<div id="<%= dom_id post %>">
  <p>
    <strong>Objet :</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Catégories :</strong>
    <% post.categories.each do |category| %>
      <span class="tag" data-tag-color="light-accent">
        <span><%= category.name %></span>
      </span>
    <% end %>
  </p>

  <p>
    <strong>Status :</strong>
    <%= post.status %>
  </p>

  <% if post.event.present? %>
    <p>
      <strong>Événement lié :</strong>
      <%= post.event.name %>
    </p>
  <% end %>

  <p>
    <strong>Corps du message :</strong>
    <div class="editor-content-wrapper">
      <%= post.formatted_content %>
    </div>
  </p>
</div>
