<div class="content-header">
  <h1><%= @post.title || "Pas d’objet" %></h1>

  <div>
    <%= link_to "Éditer cet article", edit_secretariat_post_path(@post) %> |
    <%= link_to "Retour à la liste des actualités", secretariat_posts_path %>
  </div>
</div>

<p style="color: green"><%= notice %></p>
<%= render @post %>
