<%= form_with(model: kid_workshop) do |form| %>
  <% if kid_workshop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kid_workshop.errors.count, "error") %> prohibited this kid_workshop from being saved:</h2>

      <ul>
        <% kid_workshop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.text_field :city_id %>
  </div>

  <div>
    <%= form.label :day_of_week, style: "display: block" %>
    <%= form.number_field :day_of_week %>
  </div>

  <div>
    <%= form.label :frequency, style: "display: block" %>
    <%= form.number_field :frequency %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.text_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.text_field :end_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
