<h2><%= @student.name %></h2>
<fieldset class="panel">
  <legend>Informations de l’élève</legend>
  <dl class="cluster">
    <div>
      <dt>Email :</dt>
      <dd><%= @student.email_or_household_email %></dd>
    </div>
    <div>
      <dt>Téléphone :</dt>
      <dd><%= @student.phone_or_household_phone %></dd>
    </div>
    <div>
      <dt>Ville :</dt>
      <dd><%= @student.city %></dd>
    </div>
  </dl>
</fieldset>
<% if @courses.present? %>
  <fieldset class="panel">
    <legend>Cours</legend>
    <% @courses.each do |course| %>
      <dl class="cluster">
        <div>
          <dt>Instrument :</dt>
          <dd><%= course.instrument.name %></dt>
        </div>
        <div>
          <dt>Jour du cours :</dt>
          <dd><%= course.slot.day_of_week %></dd>
        </div>
        <div>
          <dt>Horaire du cours :</dt>
          <dd><%= render "courses/course_time", course: course %></dd>
        </div>
    <% end %>
  </fieldset>
<% end %>
<% if @workshops.present? %>
  <fieldset class="panel">
    <legend>Atelier</legend>
    <% @workshops.each do |workshop| %>
      <dl class="cluster">
        <div>
          <dt><%= "#{workshop.day_of_week} #{workshop.slot_time} :" %></dt>
          <dd><%= workshop.workshop.name %></dd>
    <% end %>
  </fieldset>
<% end %>
