<hero-container class="full">
  <h1><%= @title %></h1>
  <p><%= @subtitle %></p>
  <div class="ornaments">
    <%= inline_svg_tag "icons/sprinkles.svg", class: "sprinkles" %>
    <%= inline_svg_tag "icons/sparkles.svg", class: "sparkles" %>
    <%= inline_svg_tag "icons/crosses.svg", class: "swirl" %>
  </div>
</hero-container>
