<div id="<%= dom_id event %>">
  <dl>
    <dt>Date :</dt>
    <dd><%= event.date_period %></dd>
    <dt>Lieu :</dt>
    <dd><%= event.location %></dd>
    <dt>Ville :</dt>
    <dd><%= event.city %></dd>
    <dt>Organisateur :</dt>
    <dd><%= event.organizer %></dd>
    <dt>Site :</dt>
    <dd><%= event.website %></dd>
    <dt>Status :</dt>
    <dd><%= event.status %></dd>
    <dt>Couverture :</dt>
    <dd><%= image_tag event.cover if event.cover.present? %></dd>
    <dt>Description :</dt>
    <dd>
      <div class="editor-content-wrapper">
        <%= event.formatted_content %>
      </div>
    </dd>
    <% if event.parent_event.present? %>
      <dt>Événement parent :</dt>
      <dd>
        <%= link_to event.parent_event.name, secretariat_bogue_event_path(bogue_id: @bogue.id, id: event.parent_event.id) %>
      </dd>
    <% end %>
    <% if event.events.present? %>
      <dt>Événements enfants :</dt>
      <dd>
        <ul>
          <% event.events.each do |subevent| %>
            <%= link_to subevent.name, secretariat_bogue_event_path(bogue_id: @bogue.id, id: subevent.id) %>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <dt>Notes :</dt>
    <dd><%= event.comment %></dd>
  </dl>
</div>
