<%= form_for event, url: url, data: {controller: "editor address", "editor-file-url-value": "/secretariat/evenements/upload_file"} do |form| %>
  <div class="flow">
    <%= form.label :name, "Titre" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="flow">
    <%= form.label :description, "Sous-titre" %>
    <%= form.text_field :description %>
  </div>

  <div class="flow">
    <%= form.label :start_date, "Date de début" %>
    <%= form.date_field :start_date, required: true %>
  </div>

  <div class="flow">
    <%= form.label :end_date, "Date de fin" %>
    <%= form.date_field :end_date %>
  </div>

  <div class="flow">
    <%= form.label :start_time, "Heure de début" %>
    <%= form.time_field :start_time %>
  </div>

  <div class="flow">
    <%= form.label :end_time, "Heure de fin" %>
    <%= form.time_field :end_time %>
  </div>

  <div class="flow">
    <%= form.label :location, "Lieu" %>
    <%= form.text_field :location %>
  </div>

  <div class="flow">
    <%= form.label :city, "Ville" %>
    <%= form.text_field :city, "data-action": "address#searchCity focus->address#searchCity click@window->address#hideList", "data-address-target": "address", required: true %>
    <%= render "website/autocomplete" %>
  </div>

  <div class="flow">
    <%= form.label :organizer, "Organisateur" %>
    <%= form.text_field :organizer %>
  </div>

  <div class="flow">
    <%= form.label :website, "Site" %>
    <%= form.text_field :website %>
  </div>

  <div class="flow">
    <%= form.label :status, "Statut de l’événement" %>
    <%= form.select :status, options_for_select(Event.statuses.keys.to_a, selected: event.present? ? event.status : 0) %>
  </div>

  <div class="flow">
    <%= form.label :event_type, "Type d’événement" %>
    <%= form.select :event_type, options_for_select(Event.event_types.keys.to_a, selected: event.present? ? event.event_type : 0) %>
  </div>

  <div class="flow">
    <%= form.label :parent_event_id, "Lié à" %>
    <%= form.collection_select :parent_event_id, @events, :id, :name, { selected: @event&.parent_event_id || "", include_blank: "---" } %>
  </div>

  <div class="form-inline">
    <%= form.check_box :highlight %>
    <%= form.label :highlight, "Temps fort" %>
  </div>

  <div class="flow">
    <%= form.label :cover, "Image de couverture" %>
    <%= form.file_field :cover %>
  </div>

  <div class="flow">
    <%= form.label :content, "Description" %>
    <div id="event_content" data-editor-target="editor"></div>
  </div>

  <div class="flow">
    <%= form.label :comment, "Notes" %>
    <%= form.text_field :comment %>
  </div>

  <%= form.hidden_field :content, id: "event_content_hidden", data: {"editor-target": "hidden"} %>
  <%= form.submit "Sauvegarder" %>
<% end %>
