<div class="content-header">
  <h1><%= @event.name %></h1>

  <div>
    <%= link_to "Éditer cet événement", edit_secretariat_bogue_event_path(bogue_id: @bogue.id, id: @event.id) %> |
    <%= link_to "Retour à la liste des événements", secretariat_bogue_event_path(bogue_id: @bogue.id, id: @event.id) %>
  </div>
</div>

<p style="color: green"><%= notice %></p>
<%= render @event %>
