<template id="<%= "kid-workshop-#{slot.id}" %>">
  <% table.with_row("data-controller": "kid-workshop") do |row| %>
    <% row.with_cell(name: "workshop") do %>
      <div class="flow">
        <%= label_tag "Nom de l'atelier" %>
        <%= collection_select :kid_workshop, :kid_workshop_ids, @kid_workshops, :id, :name, { include_blank: true },
          {
            data: {
              kid_workshop_target: "workshop",
              action: "kid-workshop#updateSlots"
            }
          } %>
      </div>
    <% end %>
    <% row.with_cell(name: "city", colspan: 3) do %>
      <div class="form-group">
        <%= render "kid_workshop_slots", slots: [], form: kid_workshop_form %>
        <div class="flow">
          <%= kid_workshop_form.label :option, "Optionel" %>
          <%= kid_workshop_form.check_box :option %>
        </div>
        <% unless @hide_private %>
          <div class="flow notes">
            <%= kid_workshop_form.label :comment, "Notes" %>
            <%= kid_workshop_form.text_area :comment, rows: 1 %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% row.with_cell(name: "options") do %>
      <%= form.submit "Ajouter cet atelier", name: "add_kid_workshop" %>
    <% end %>
  <% end %>
</template>
