<%= form_with url: @is_account ? account_subbed_workshop_path : subbed_workshop_path, method: "put", data: {"subscription-id": subscription.id, "item-type": "subbed_workshop"} do |form| %>
<table class="subbed-workshop-list item-list">
  <thead>
    <tr>
      <th class="cell-workshop">Cours</th>
      <th class="cell-city">Ville</th>
      <th class="cell-day_of_week">Jour</th>
      <th class="cell-time">Heure du cours</th>
      <th class="cell-option">Optionel</th>
      <% unless @hide_private %>
        <th class="cell-comment">Notes</th>
      <% end %>
      <th class="cell-options">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% workshops.order(:created_at).each do |subbed_workshop| %>
      <%= render "subbed_workshops/subbed_workshop", subbed_workshop: subbed_workshop, is_youth: is_youth %>
    <% end %>
    <tr data-controller="edit-subscription" id="<%= is_youth ? "add-kid-workshop" : "add-workshop" %>" class="add-item">
      <td colspan="<%= @hide_private ? 7 : 8 %>">
        <button class="button" data-button-size="small" data-action="edit-subscription#editEntry" data-edit-subscription-url-param="<%= is_youth ? "#{@new_workshop_url}?youth=true" : @new_workshop_url %>">
          Ajouter un atelier
        </button>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
