<% content_for(:page_class, "ecole instrument-page ") %>
<% content_for(:page_title, @instrument.name) %>

<div class="flow">
  <div class="popout flow">
    <div class="cluster tag-list">
      <%= render Shared::Table::Component.new(class: "instrument-table") do |table| %>
        <% @cities.each do |city| %>
          <% table.with_header do |header| %>
            <% header.with_column(name: "city") do %>Ville<% end %>
            <% @days.each do |day| %>
              <% header.with_column(name: "day") do %><%= day %><% end %>
            <% end %>
          <% end %>
          <% table.with_row do |row| %>
            <% row.with_cell(name: "city") do %><%= city.name %><% end %>
            <% @days.each do |weekday| %>
              <% @slots = city.slots.visible.with_instrument(@instrument) %>
              <% row.with_cell(name: "day") do %>
                <% @slot = @slots.find {|slot| slot.city == city && slot.day_of_week == weekday} %>
                <% if @slot.present? %>
                  <%= link_to @slot.teacher.name, ecole_teacher_path(@slot.teacher) %>
                  <small><%= @slot.slot_time %></small>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= simple_format(@instrument.description) %>
  </div>
  <%= render Website::OtherRecords::Component.new(label: "instruments") do %>
    <% @other_instruments.each do |instrument| %>
      <%= link_to ecole_instrument_path(instrument), class: "tag", "data-tag-color": "secondary" do %>
        <span><%= instrument.name %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
