<% content_for(:page_class, "ecole instrument-page ") %>
<% content_for(:page_title, @instrument.name) %>

<section class="popout grid" data-grid="2-3">
  <div class="left">
    <div class="slot-list">
      <div>
        <h2>Les créneaux de cours pour cet instrument</h2>
      <% @slots.each do |city_day_teacher, slots| %>
        <% city, day, teacher = city_day_teacher %>
        <% slots.each do |slot| %>
          <% courses = slot.teacher.specialties.where(instrument_id: @instrument.id) %>
          <% courses.each do |course| %>
            <% if course.teacher == slot.teacher && city != @city %>
              </div>
              <div>
                <h3>
                  <span class="tag">
                    <span><%= city %></span>
                  </span>
                </h3>
                <% @city = city %>
            <% end %>
            <% if course.teacher == slot.teacher %>
              <div><%= link_to "#{slot.teacher.name}", ecole_teacher_path(slot.teacher) %> : <%= "#{slot.datetime}" %></div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="right">
    <%= simple_format(@instrument.description) %>
  </div>
</section>
<%= render Website::OtherRecords::Component.new(label: "instruments") do %>
  <% @other_instruments.each do |instrument| %>
    <%= link_to ecole_instrument_path(instrument), class: "tag", "data-tag-color": "blue" do %>
      <span><%= instrument.name %></span>
    <% end %>
  <% end %>
<% end %>
