<% content_for(:page_class, "ecole instrument-page ") %>
<% content_for(:page_title, @instrument.name) %>

<div class="flow">
  <div class="popout flow">
    <div class="cluster tag-list">
      <% @cities.each do |city| %>
        <div class="flow">
          <h3><%= city.name %></h3>
          <% city.slots.order(:day_of_week).group_by {|slot| slot.day_of_week}.each do |day, slots| %>
            <% slots_with_day = slots.select { |slot|
              slot.teacher.instruments.include?(@instrument)
            } %>
              <% if slots_with_day.count > 0 %>
                <div class="day flow">
                  <h4><%= day %></h4>
                </div>
              <% end %>
            <% end %>
        </div>
      <% end %>
    </div>
    <%= simple_format(@instrument.description) %>
  </div>
  <%= render Website::OtherRecords::Component.new(label: "instruments") do %>
    <% @other_instruments.each do |instrument| %>
      <%= link_to ecole_instrument_path(instrument), class: "tag", "data-tag-color": "secondary" do %>
        <span><%= instrument.name %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
