<% content_for(:page_class, "ecole instrument-page ") %>
<% content_for(:page_title, @instrument.name) %>

<section class="feature grid gap-8">
  <div class="left">
    <h2><%= inline_svg "icons/clock" %>Les créneaux de cours</h2>
    <div class="panel slot-list">
      <% @slots.each do |city_day_teacher, slots| %>
        <% city, day, teacher = city_day_teacher %>
        <% slots.each do |slot| %>
          <% courses = slot.teacher.specialties.where(instrument_id: @instrument.id) %>
          <% courses.each do |course| %>
            <% if course.teacher == slot.teacher && city != @city %>
                <h3><%= city %></h3>
                <% @city = city %>
            <% end %>
            <% if day != @day %>
              <h4><%= day %></h4>
              <% @day = day %>
            <% end %>
            <% if course.teacher == slot.teacher %>
              <div class="slot flex-row gap-4">
                <time><%= slot.time_period %></time>
                <div class="slot-teacher">
                  <%= link_to ecole_teacher_path(slot.teacher), class: "tag" do %>
                    <span><%= slot.teacher.name %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="right panel">
    <%= simple_format(@instrument.description) %>
  </div>
</section>
<%= render Website::OtherRecords::Component.new(label: "instruments") do %>
  <% @other_instruments.each do |instrument| %>
    <%= link_to ecole_instrument_path(instrument), class: "tag", "data-tag-color": "blue" do %>
      <span><%= instrument.name %></span>
    <% end %>
  <% end %>
<% end %>
