<div class="content-header">
  <h1>Emails</h1>
  <%= link_to "Créer un nouvel email", new_secretariat_email_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag "subscriptions", class: "flex-column gap-3" do %>
  <%== pagy_nav(@pagy) %>
  <%= render Shared::Table::Component.new("data-controller": "linkable") do |table| %>
    <% table.with_header(sort: @sort_attribute, direction: @sort_direction, base_request_params: request.query_parameters) do |header| %>
      <% header.with_column(name: "subject", sortable: true) do %>Sujet<% end %>
      <% header.with_column(name: "body") do %>Message<% end %>
      <% header.with_column(name: "created_at") do %>Créé le<% end %>
      <% header.with_column(name: "sent_at") do %>Envoyé le<% end %>
      <% header.with_column(name: "status") do %>Statut<% end %>
    <% end %>
    <% @emails.each do |email| %>
      <% table.with_row do |row| %>
        <% row.with_cell(name: "subject") do %><%= link_to email.subject, secretariat_email_path(email), "data-turbo": false %><% end %>
        <% row.with_cell(name: "body") do %><%= simple_format(email.body) %><% end %>
        <% row.with_cell(name: "created_at") do %><%= email.created_at %><% end %>
        <% row.with_cell(name: "sent_at") do %><%= email.sent_at %><% end %>
        <% row.with_cell(name: "status") do %><%= email.status %><% end %>
      <% end %>
    <% end %>
  <% end %>
  <%== pagy_nav(@pagy) %>
<% end %>
