<hero-container class="feature home-hero">
  <div class="bento">
    <div class="carousel">
      <div class="container">
        <%= image_tag "home/joute.jpg" %>
        <%= image_tag "home/bal.jpg" %>
        <%= image_tag "home/concours-musiciens.jpg" %>
        <%= image_tag "home/balade.jpg" %>
      </div>
    </div>
    <%= render Website::HeroCard::Component.new(title: "La Bogue d’Or", url: "/bogue/#{Bogue.active.ordered.first.slug}", css_classes: "bogue") %>
    <%= render Website::HeroCard::Component.new(title: "L'école de musique traditionnelle", url: ecole_path, css_classes: "ecole") %>
    <%= render Website::HeroCard::Component.new(title: "Centre de ressources", url: archives_path, css_classes: "archives") %>
  </div>
</hero-container>
