<turbo-frame id="subscription-form">
  <div class="repel">
    <div>
      <dl class="cluster">
        <div>
          <dt>Date d’inscription :</dt>
          <dd><%= format_date(subscription.created_at) %></dd>
        </div>
        <div>
          <dt>Consentement à l’image :</dt>
          <dd><%= subscription.image_consent ? "✅" : "❌" %></dd>
        </div>
        <div>
          <dt>Situation empêchée :</dt>
          <dd><%= subscription.disability ? "✅" : "❌" %></dd>
        </div>
        <div>
          <dt>ARS :</dt>
          <dd><%= subscription.ars ? "✅" : "❌" %></dd>
        </div>
      </dl>
      <dl>
        <div>
          <dt>Statut de l'inscription :</dt>
          <dd><%= subscription.status %></dd>
        </div>
      </dl>
      <dl>
        <div>
          <dt>Notes sur l'inscription en cours :</dt>
          <dd><%= subscription.comment %></dd>
        </div>
      </dl>
    </div>
    <%= link_to subscription_edit_subscription_path(subscription_id: subscription.id), class: "button", "data-button-size": "small" do %>
      <%= inline_svg "icons/edit" %>
    <% end %>
  </div>
</turbo-frame>
