<div class="content-header">
  <h1>Inscriptions</h1>
  <%= link_to "Créer une nouvelle inscription", new_subscription_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "year") do %>Année<% end %>
    <% header.with_column(name: "student") do %>Elève<% end %>
    <% header.with_column(name: "course") do %>Cours<% end %>
    <% header.with_column(name: "workshop") do %>Ateliers<% end %>
    <% header.with_column(name: "paid_amount") do %>Montant versé<% end %>
    <% header.with_column(name: "payor") do %>Payeur<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @subscriptions.each do |subscription| %>
    <% table.with_row(link_url: subscription) do |row| %>
      <% row.with_cell(name: "year") do %><%= link_to subscription.year %><% end %>
      <% row.with_cell(name: "student") do %><%= link_to subscription.student %><% end %>
      <% row.with_cell(name: "course") do %><%= link_to subsscription.course %><% end %>
      <% row.with_cell(name: "workshop") do %><%= link_to subscription.workshop %><% end %>
      <% row.with_cell(name: "paid_amount") do %><%= link_to subscription.paid_amount %><% end %>
      <% row.with_cell(name: "payor") do %><%= link_to subscription.payor %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to edit_subscription_path(subscription) do %>
          Editer cette inscription
          <%= inline_svg "icons/chevron-right", { class: "caret" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
