<% content_for(:page_class, "subscriptions ") %>
<div class="repel">
  <h1><%= @subscription.student.name %></h1>

  <div>
    <%= link_to "Éditer la fiche de l'élève", edit_subscription_path(@subscription), class: "button" %>
    <%= link_to "Créer une nouvelle inscription", new_subscription_path(@subscription), class: "button" %>
    <%= link_to "Retour aux inscriptions", subscriptions_path, class: "button" %>
  </div>
</div>

<div class="panel">
  <dl class="cluster">
    <div>
      <dt>Foyer :</dt>
      <dd><%= link_to @subscription.subscription_group&.payor&.name, payor_path(@subscription.subscription_group.payor) %></dd>
    </div>
    <div>
      <dt>Année de naissance :</dt>
      <dd><%= @subscription.student.birth_year %></dd>
    </div>
    <div>
      <dt>Genre :</dt>
      <dd><%= @subscription.student.gender %></dd>
    </div>
    <div>
      <dt>Consentement à l’image :</dt>
      <dd><%= @subscription.image_consent ? "✅" : "❌" %></dd>
    </div>
    <div>
      <dt>Situation empêchée :</dt>
      <dd><%= @subscription.disability ? "✅" : "❌" %></dd>
    </div>
    <div>
      <dt>ARS :</dt>
      <dd><%= @subscription.ars ? "✅" : "❌" %></dd>
    </div>
  </dl>
  <dl class="cluster">
    <div>
      <dt>Email :</dt>
      <dd><%= @subscription.student.email_or_payor_email %></dd>
    </div>
    <div>
      <dt>Téléphone :</dt>
      <dd><%= format_phone(@subscription.phone) %></dd>
    </div>
    <div>
      <dt>Adresse :</dt>
      <dd><%= @subscription.student.address_or_payor_address %></dd>
    </div>
    <div>
      <dt>Code postal :</dt>
      <dd><%= @subscription.student.postcode_or_payor_postcode %></dd>
    </div>
    <div>
      <dt>Ville :</dt>
      <dd><%= @subscription.student.city_or_payor_city %></dd>
    </div>
  </dl>
  <% if @subscription.student.comment.present? %>
    <dl>
      <div>
        <dt>Commentaires sur l'élève :</dt>
        <dd><%= @subscription.student.comment %></dd>
      </div>
    <dl>
  <% end %>
  <% if @subscription.comment.present? %>
    <dl class="cluster">
      <div>
        <dt>Commentaires sur l'inscription en cours :</dt>
        <dd><%= @subscription.comment %></dd>
      </div>
    <dl>
  <% end %>
</div>

<%= render @subscription %>

<%= link_to "Supprimer cette inscription",
  subscription_path(@subscription),
  class: "button",
  data: {
    "button-variant": "alert",
    turbo_method: :delete,
    turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cette inscription ?"
  } %>

