<div id="<%= dom_id teacher %>" class="record">
  <div class="page-info">
    <dl class="horizontal">
      <dt>Email :</dt>
      <dd><%= teacher.email %></dd>
      <dt>Téléphone :</dt>
      <dd><%= format_phone(teacher.phone) %></dd>
    </dl>
  </div>

  <section data-controller="tabs">
    <header>
      <button class="button" data-tabs-target="tab" data-action="tabs#click" data-tabs-panel-value="cours">Cours</button>
      <button class="button" data-tabs-target="tab" data-action="tabs#click" data-tabs-panel-value="creneaux" data-button-type="outline">Créneaux</button>
      <button class="button" data-tabs-target="tab" data-action="tabs#click" data-tabs-panel-value="infos" data-button-type="outline">Informations personnelles</button>
    </header>
    <div data-tabs-target="panel" id="cours" class="record gap-10">
      <% teacher.slots.order(:day_of_week).each do |slot| %>
        <div>
          <h2><%= "#{slot.day_of_week} – #{slot.city.name} (#{slot.courses.size})" %></h2>
          <%= render Shared::Table::Component.new do |table| %>
            <% table.with_header do |header| %>
              <% header.with_column(name: "name") do %>Nom<% end %>
              <% header.with_column(name: "start_time") do %>Heure de début<% end %>
              <% header.with_column(name: "end_time") do %>Heure de fin<% end %>
              <% if @teacher.instruments.size > 1 %>
                <% header.with_column(name: "discipline") do %>Discipline<% end %>
              <% end %>
              <% header.with_column(name: "phone") do %>Téléphone<% end %>
              <% header.with_column(name: "email") do %>Email<% end %>
            <% end %>
            <% slot.courses.active(@season).ordered.each do |course| %>
              <% table.with_row(link_url: teacher, class: "#{course.subscription.optional? || course.subscription.optional_course?(course.instrument) ? "optional" : "confirmed"}") do |row| %>
                <% row.with_cell(name: "name") do %><%= link_to "#{course.subscription.student.name} ", student_url(season: @season, record: course.student) %><% end %>
                <% row.with_cell(name: "start_time") do %><%= format_time(course.start_time) %><% end %>
                <% row.with_cell(name: "end_time") do %><%= format_time(course.end_time) %><% end %>
                <% if @teacher.instruments.size > 1 %>
                  <% row.with_cell(name: "discipline") do %><%= course.instrument.name %><% end %>
                <% end %>
                <% row.with_cell(name: "phone") do %><%= format_phone(course.subscription.phone) %><% end %>
                <% row.with_cell(name: "email") do %><%= course.subscription.email %><% end %>
              <% end %>
            <% end %>
            <% table.with_row(link_url: teacher) do |row| %>
              <% row.with_cell(name: "full", colspan: @teacher.instruments.size > 1 ? 6 : 5) do %>
                <button class="button" data-emails-list-value="<%= get_emails(slot.courses) %>" data-controller="emails" data-action="emails#copyList">Copier la liste des emails</button>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div data-tabs-target="panel" id="creneaux" class="record gap-10">
      <%= render "slots/list", teacher: @teacher%>
    </div>
    <div data-tabs-target="panel" id="infos">
      <dl>
        <dt>Instrument:</dt>
        <dd>
          <% teacher.instruments.map do |instrument| %>
            <span class="tag"><span><%= instrument.name %></span></span>
          <% end %>
        </dd>

        <dt>Description:</dt>
        <dd><%= simple_format(teacher.description) %></dd>

        <dt>Photo:</dt>
        <dd><%= image_tag teacher.photo if teacher.photo.present? %></dd>
      </dl>
    </div>
  </section>
</div>
