<div id="<%= dom_id teacher %>">
  <p>
    <strong>First name:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= teacher.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= teacher.phone %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= teacher.instrument_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= teacher.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= teacher.photo %>
  </p>

</div>
