<% content_for(:page_title, "Connexion") %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "flow") do |f| %>
  <%= f.input :email,
              required: false,
              autofocus: true,
              input_html: { autocomplete: "email" } %>
  <%= f.input :password,
              required: false,
              input_html: { autocomplete: "current-password" } %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <div class="form-actions">
    <%= f.button :submit, "Se connecter", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
