<% content_for(:page_class, "account ") %>
<% content_for(:page_title, "Compte") %>

<section>
  <%= link_to "Créer une nouvelle inscription", new_compte_subscription_group_path %>
  <%= render Shared::Table::Component.new do |table| %>
    <% table.with_header do |header| %>
      <% header.with_column(name: "season") do %>Année<% end %>
      <% header.with_column(name: "options", show_label: false) %>
    <% end %>
    <% @subscription_groups.each do |subscription_group| %>
      <% table.with_row(link_url: subscription_group) do |row| %>
        <% row.with_cell(name: "season") do %><%= link_to subscription_group.season %><% end %>
        <% row.with_cell(name: "options") do %>
          <%= link_to edit_compte_subscription_group_path(subscription_group) do %>
            Editer cette inscription
            <%= inline_svg "icons/chevron-right", { class: "caret" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
