<h1>Ateliers</h1>

<div id="ateliers">
  <% @ateliers.each do |atelier| %>
    <%= render atelier %>
    <p>
      <%= link_to "Show this atelier", atelier_path %>
    </p>
  <% end %>
</div>

<%= link_to "New atelier", new_atelier_path %>
<div class="repel">
  <h1>Ateliers</h1>
  <%= link_to "Créer un nouvel atelier", new_atelier_path %>
</div>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "nom") do %>Nom<% end %>
    <% header.with_column(name: "description") do %>Téléphone<% end %>
    <% header.with_column(name: "email") do %>Email<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @ateliers.each do |atelier| %>
    <% table.with_row(link_url: atelier) do |row| %>
      <% row.with_cell(name: "nom") do %><%= link_to "#{atelier.prenom} #{atelier.nom}", atelier %><% end %>
      <% row.with_cell(name: "telephone") do %><%= atelier.telephone %><% end %>
      <% row.with_cell(name: "email") do %><%= atelier.email %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to edit_atelier_path(atelier) do %>
          Editer cet élève
          <%= inline_svg "icons/chevron-right", { class: "caret" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
