<%= form_for page, url: url, data: {controller: "editor address", "editor-file-url-value": "/secretariat/evenements/upload_file"} do |form| %>
  <div class="flow">
    <%= form.label :name, "Titre de la page" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="flow">
    <%= form.label :status, "Statut" %>
    <%= form.select :status, options_for_select(Page.statuses.keys.to_a, selected: page.present? ? page.status : 0) %>
  </div>

  <div class="flow">
    <%= form.label :content, "Description" %>
    <div id="page_content" data-editor-target="editor"></div>
  </div>

  <div class="flow">
    <%= form.label :comment, "Notes" %>
    <%= form.text_field :comment %>
  </div>

  <%= form.hidden_field :content, id: "page_content_hidden", data: {"editor-target": "hidden"} %>
  <%= form.submit "Sauvegarder" %>
<% end %>
