<div class="content-header">
  <h1><%= @page.name %></h1>

  <div>
    <%= link_to "Éditer cette page", edit_secretariat_bogue_page_path(bogue_id: @bogue.id, id: @page.id) %> |
    <%= link_to "Retour à la liste des pages", secretariat_bogue_page_path(bogue_id: @bogue.id, id: @page.id) %>
  </div>
</div>

<p style="color: green"><%= notice %></p>
<%= render @page %>
