<% content_for(:page_class, "ecole teacher-page ") %>
<% content_for(:page_title, @teacher.name) %>

<section class="panel popout">
  <div class="left flex-column gap-4">
    <div class="tag-list">
      <% @teacher.instruments.each do |instrument| %>
        <span class="tag" data-tag-color="light-accent">
          <span><%= instrument.name %></span>
        </span>
      <% end %>
      <% @teacher.cities.pluck(:name).uniq.each do |city| %>
        <span class="tag" data-tag-color="dark">
          <span><%= city %></span>
        </span>
      <% end %>
    </div>
    <% if @teacher.photo.present? %>
      <%= image_tag @teacher.photo %>
    <% else %>
      <%= inline_svg_tag "icons/singing.svg" %>
    <% end %>
  </div>
  <div class="right">
    <%= simple_format(@teacher.description) %>
  </div>
</section>
<%= render Website::OtherRecords::Component.new(label: "professeurs") do %>
  <% @other_teachers.each do |teacher| %>
    <%= link_to ecole_teacher_path(teacher), class: "tag", "data-tag-color": "blue" do %>
      <span><%= teacher.name %></span>
    <% end %>
  <% end %>
<% end %>
