<% content_for(:page_class, "bogue ") %>
<% content_for(:page_title, @event.name) %>
<% content_for(:page_description, @event.description) %>

<div class="formatted-content flow">
  <%= @event.formatted_content %>
  <%= image_tag @event.cover if @event.cover.present? %>
  <% if @event.events.present? %>
    <h2>Événements connexes</h2>
    <% @event.events.each do |event| %>
      <event-card>
        <%= link_to programmation_event_website_bogue_path(bogue_slug: @bogue.slug, event_slug: event.slug), class: "list-element event-card" do %>
          <time>
            <%= event.date_period %>
          </time>
          <div class="event-info">
            <h3><%= event.name %></h3>
            <address>
              <%= event.full_location %>
            </address>
          </div>
          <div class="tag-list cluster">
            <span class="tag">
              <span><%= event.event_type %></span>
            </span>
          </div>
        <% end %>
      </event-card>
    <% end %>
  <% end %>
</div>
