<% content_for(:page_class, "bogue ") %>
<% content_for(:page_title, "Temps forts") %>

<section id="highlights" class="grid">
  <% @events.each do |event| %>
    <%= link_to programmation_event_website_bogue_path(bogue_slug: @bogue.slug, event_slug: event.slug), class: "panel card flow", "data-card-type": "image" do %>
      <div class="image">
        <%= image_tag event.cover.present? ? event.cover : "icons/singing.svg" %>
      </div>
      <div class="card-info flow">
        <h3><%= event.name %></h3>
        <time>
          <%= event.date_period %>
        </time>
        <address>
          <% if event.location.present? %><div><%= event.location %></div><% end %>
          <% if event.city.present? %><div><%= event.city.upcase %></div><% end %>
        </address>
      </div>
    <% end %>
  <% end %>
</section>
