<div id="<%= dom_id instrument %>" class="record">
  <section data-controller="tabs">
    <header>
      <button data-tabs-target="tab" data-action="tabs#click" data-tabs-panel-value="cours">Cours</button>
      <button data-tabs-target="tab" data-action="tabs#click" data-tabs-panel-value="infos" data-button-type="outline">Informations de la discipline</button>
    </header>
    <div data-tabs-target="panel" id="cours">
      <%= render Shared::Table::Component.new do |table| %>
        <% table.with_header do |header| %>
          <% header.with_column(name: "student") do %>Élève<% end %>
          <% header.with_column(name: "phone") do %>Téléphone<% end %>
          <% header.with_column(name: "email") do %>Email<% end %>
          <% header.with_column(name: "teachers") do %>Professeur<% end %>
          <% header.with_column(name: "day_of_week") do %>Jour<% end %>
          <% header.with_column(name: "city") do %>Ville<% end %>
        <% end %>
        <% instrument.courses.each do |course| %>
          <% table.with_row do |row| %>
            <% row.with_cell(name: "student") do %><%= link_to course.subscription.student.name, secretariat_subscription_path(course.subscription) %><% end %>
            <% row.with_cell(name: "phone") do %><%= format_phone(course.subscription.phone) %><% end %>
            <% row.with_cell(name: "email") do %><%= course.subscription.email %><% end %>
            <% row.with_cell(name: "teachers") do %>
              <%= link_to course.slot.teacher.name, secretariat_teacher_path(course.slot.teacher) %>
            <% end %>
            <% row.with_cell(name: "day_of_week") do %><%= course.slot.day_of_week %><% end %>
            <% row.with_cell(name: "city") do %><%= course.slot.city.name %><% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div data-tabs-target="panel" id="infos">
      <h2>Informations de la discipline</h2>
      <dl>
        <dt>Name:</dt>
        <dd><%= instrument.name %></dd>
        <dt>Description:</dt>
        <dd><%= simple_format(instrument.description) %></dd>
      </dl>
    </div>
  </section>
</div>
