<div class="content-header">
  <h1>Disciplines</h1>
  <%= link_to "Créer un nouvel instrument", new_instrument_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "instrument") do %>Instrument<% end %>
    <% header.with_column(name: "student_count") do %>Nombre d’élèves<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @instruments.each do |instrument| %>
    <% table.with_row(link_url: instrument) do |row| %>
      <% row.with_cell(name: "instrument") do %><%= link_to instrument.name, secretariat_instrument_path(instrument) %><% end %>
      <% row.with_cell(name: "instrument") do %><%= instrument.courses.size %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to edit_secretariat_instrument_path(instrument) do %>
          Éditer cet instrument
          <%= inline_svg "icons/chevron-right", { class: "caret" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
