<p style="color: green"><%= notice %></p>

<div class="content-header">
  <h1><%= @instrument.name %></h1>

  <div>
    <%= link_to "Créer cette discipline", new_secretariat_instrument_path(@instrument) %> |
    <%= link_to "Retour aux disciplines", secretariat_instruments_path %>
  </div>

</div>

<%= render @instrument %>
