<div id="<%= dom_id post %>" class="repel" data-align="start">
  <dl>
    <dt>Objet :</dt>
    <dd><%= post.title %></dd>
    <dt>Catégories :</dt>
    <dd>
      <% post.categories.each do |category| %>
        <span class="tag">
          <span><%= category.name %></span>
        </span>
      <% end %>
    </dd>
    <dt>Status :</dt>
    <dd><%= post.status %></dd>
    <% if post.event.present? %>
      <dt>Événement lié :</dt>
      <%= post.event.name %>
    <% end %>
  </dl>

  <dl>
    <dt>Contenu :</dt>
    <dd class="editor-content-wrapper">
      <div class="flow">
        <%= post.formatted_content %>
      </div>
    </dd>
  </dl>
</div>

<%= link_to "Supprimer cet article",
  post_path(post),
  class: "button",
  data: {
    "button-variant": "alert",
    turbo_method: :delete,
    turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cet article ?"
  } %>
