<div class="content-header">
  <h1>Villes</h1>
  <%= link_to "Créer une nouvelle ville", new_city_path %>
</div>
<p style="color: green"><%= notice %></p>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "name") do %>Nom<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @cities.each do |city| %>
    <% table.with_row(link_url: city) do |row| %>
      <% row.with_cell(name: "name") do %><%= link_to city.name %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to edit_city_path(city) do %>
          Editer cette ville
          <%= inline_svg "icons/chevron-right", { class: "caret" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
