<% content_for(:page_class, "ecole training-session-page ") %>
<% content_for(:page_title, @training_session.name) %>

<section class="feature flow">
  <dl class="cluster">
    <% if @training_session.guest.present? %>
      <div>
        <dt>Intervenant</dt>
        <dd><%= @training_session.guest %></dd>
      </div>
    <% end %>
    <div>
      <dt>Lieu du rendez-vous</dt>
      <dd><%= [@training_session.location, @training_session.city || "À définir"].compact.join(" – ") %></dd>
    </div>
    <% if @training_session.time_period.present? %>
      <dt>Heure du rendez-vous</dt>
      <dd><%= @training_session.time_period %></dd>
    <% end %>
  </dl>
  <div class="right">
    <%= @training_session.formatted_content %>
  </div>
  <%= image_tag @training_session.image if @training_session.image.present? %>
</section>
<%= render Website::OtherRecords::Component.new(label: "rendez-vous") do %>
  <% @other_training_sessions.each do |session| %>
    <%= link_to ecole_training_session_path(session), class: "tag", "data-tag-color": "blue" do %>
      <span><%= session.name %></span>
    <% end %>
  <% end %>
<% end %>
