<div>
  <%= form.label "Prénom", style: "display: block" %>
  <%= form.text_field :first_name %>
</div>

<div>
  <%= form.label "Nom", style: "display: block" %>
  <%= form.text_field :last_name %>
</div>

<div>
  <%= form.label "Genre", style: "display: block" %>
  <%= form.select :gender, options_for_select(Student.genders) %>
</div>

<div>
  <%= form.label :phone, style: "display: block" %>
  <%= form.text_field :phone %>
</div>

<div>
  <%= form.label :email, style: "display: block" %>
  <%= form.text_field :email %>
</div>
