<% content_for(:page_class, "ecole ") %>
<% content_for(:page_title, "L'École de Musique Traditionnelle") %>

<section>
  <h2><%= inline_svg "icons/ear" %>L'approche pédagogique</h2>
  <div class="panel">
    <p>L’enseignement musical est basé sur l’apprentissage à l’oreille et la transmission orale du répertoire traditionnel. La connaissance du solfège n'est pas obligatoire. Les cours sont ouverts à tous, enfants comme adultes, débutants comme confirmés, personnes en situation de handicap. Les enseignants travaillent toute l'année avec les élèves pour qu'ils participent à diverses animations (veillées, bal, fest-noz...) et mettent en pratique les éléments assimilés dans l'année.</p>
  </div>
</section>

<section>
  <h2><%= inline_svg "icons/history" %>L’histoire de l'école</h2>
  <div class="panel">
    <p>L’Ecole de Musique Traditionnelle des Pays de Vilaine (EMT), fondée en 1996, est un des 3 pôles d’activité de l’association le Groupement Culturel Breton des Pays de Vilaine (GCBPV). En plus de l’enseignement musical, la structure gère un Centre-Ressources (archives sonores/ photographiques...) et organise des évènements culturels, comme la Bogue d’Or. Toutes ces activités sont étroitement liées et se nourrissent mutuellement.</p>
  </div>
</section>

<section>
  <h2><%= inline_svg "icons/users" %>Ses membres</h2>
  <div class="panel">
    <p>Elle compte aujourd’hui plus de 300 élèves de 4 à 80 ans et a la particularité d’être itinérante sur le territoire.</p>
    <p>Ce sont ainsi les professeurs qui se déplacent dans 8 communes de Redon Agglomération et Oust à Brocéliande Communauté. La culture de tradition populaire est très vivante sur le territoire et l’Ecole de Musique a pour objectifs de favoriser cette transmission, en s’appuyant sur l’oralité.</p>
  </div>
</section>

<section>
  <h2><%= inline_svg "icons/square-activity" %>Les actions de l’EMT</h2>
  <div class="panel">
    <p>L’école est inscrite dans le Plan Musiques des départements du Morbihan et d’Ille-et-Vilaine Elle est liée à <%= link_to "Redon Agglomération", "https://www.redon-agglomeration.bzh/" %> par une convention et collabore avec les Etablissements Culturels de l’Agglomération : le <%= link_to "Canal Théâtre", "https://www.lecanaltheatre.fr/" %>, la <%= link_to "Médiathèque JM Bollé", "https://mediatheques.redon-agglomeration.bzh/vos-mediatheques/les-mediatheques-du-reseau/399-redon" %> et le <%= link_to "7, Conservatoire", "https://www.redon-agglomeration.bzh/conservatoire-musique-le7" %>, avec lequel l’EMT travaille et partage de nombreux projets.</p>
    <p>Elle est également labelisée SENSICAP et l’accès à tous les publics empêchés est une priorité.</p>
    <p>Au-delà des cours et des ateliers, elle met en place des interventions et actions avec des partenaires de secteur social (PMI...) et éducatif (projets avec les scolaires) mais aussi des évènements (veillées, Fest- noz, etc.) toute l’année et aussi à la demande.</p>
    <p>L’imprégnation et l’immersion culturelle sont au cœur de son projet pédagogique et de son identité.</p>
  </div>
</section>
