<% content_for(:page_class, "ecole pricing ") %>
<% content_for(:page_title, "Les tarifs") %>

<section class="flow">
  <h2><%= inline_svg "icons/guitar" %>Cycle 1 et 2</h2>
  <p>1 cours instrument + 1 atelier au choix inclus de 45 min/semaine ou 1h30 bimensuel</p>
  <%= render Shared::Table::Component.new(class: "pricing-table") do |table| %>
    <% table.with_header do |header| %>
      <% header.with_column(name: "age") do %><% end %>
      <% header.with_column(name: "price") do %>Tarif Redon Agglo<% end %>
      <% header.with_column(name: "obc_price") do %>Tarif Oust à Brocéliande Communauté<% end %>
      <% header.with_column(name: "outbounds_price") do %>Tarif Hors agglo<% end %>
    <% end %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>- 18ans<% end %>
      <% row.with_cell(name: "price") do %><%= @plan.kids_class_price %><% end %>
      <% row.with_cell(name: "obc_price") do %><%= @plan.kids_class_price_obc %><% end %>
      <% row.with_cell(name: "outbounds_price") do %><%= @plan.kids_class_price_outbounds %><% end %>
    <% end %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>18 ans et +<% end %>
      <% row.with_cell(name: "price") do %><%= @plan.class_price %><% end %>
      <% row.with_cell(name: "obc_price") do %><%= @plan.class_price_obc %><% end %>
      <% row.with_cell(name: "outbounds_price") do %><%= @plan.class_price_outbounds %><% end %>
    <% end %>
  <% end %>
  <h2><%= inline_svg "icons/baby" %>Enfance : découvrir</h2>
  <p>1 atelier de 45 min/semaine</p>
  <%= render Shared::Table::Component.new(class: "pricing-table") do |table| %>
    <% table.with_header do |header| %>
      <% header.with_column(name: "description") do %>Nom de l’atelier<% end %>
      <% header.with_column(name: "price") do %>Tarif Redon Agglo<% end %>
      <% header.with_column(name: "obc_price") do %>Tarif Oust à Brocéliande Communauté<% end %>
      <% header.with_column(name: "outbounds_price") do %>Tarif Hors agglo<% end %>
    <% end %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>Eveil musical (4-6 ans)<% end %>
      <% row.with_cell(name: "price") do %><%= @early_learning.price %><% end %>
      <% row.with_cell(name: "obc_price") do %><%= @early_learning.obc_price %><% end %>
      <% row.with_cell(name: "outbounds_price") do %><%= @early_learning.outbounds_price %><% end %>
    <% end %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>Découverte instrumentale (7-9 ans)<% end %>
      <% row.with_cell(name: "price") do %><%= @kid_discovery.price %><% end %>
      <% row.with_cell(name: "obc_price") do %><%= @kid_discovery.obc_price %><% end %>
      <% row.with_cell(name: "outbounds_price") do %><%= @kid_discovery.outbounds_price %><% end %>
    <% end %>
  <% end %>
  <h2><%= inline_svg "icons/users" %>Pratiquer</h2>
  <p>1 atelier de pratique d'ensemble : 45 min/semaine ou 1h30 bimensuelle ou 3h mensuelles</p>
  <%= render Shared::Table::Component.new(class: "pricing-table") do |table| %>
    <% table.with_header do |header| %>
      <% header.with_column(name: "description") do %>Nom de l’atelier<% end %>
      <% header.with_column(name: "price") do %>Tarif Redon Agglo<% end %>
      <% header.with_column(name: "obc_price") do %>Tarif Oust à Brocéliande Communauté<% end %>
      <% header.with_column(name: "outbounds_price") do %>Tarif Hors agglo<% end %>
    <% end %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>Atelier d'ensemble seul<small>élève non-inscrit en cours</small><% end %>
      <% row.with_cell(name: "price") do %><%= @plan.workshop_price %><% end %>
      <% row.with_cell(name: "obc_price") do %><%= @plan.workshop_price_obc %><% end %>
      <% row.with_cell(name: "price") do %><%= @plan.workshop_price_outbounds %><% end %>
    <% end %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>Atelier autonome<small>harmonica, cornemuse</small><% end %>
      <% row.with_cell(name: "price") do %><%= @standalone.price %><% end %>
      <% row.with_cell(name: "obc_price") do %><%= @standalone.obc_price %><% end %>
      <% row.with_cell(name: "outbounds_price") do %><%= @standalone.outbounds_price %><% end %>
    <% end %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>Atelier Uilleann pipes<small>niveau confirmé - 6 rdvs/an</small><% end %>
      <% row.with_cell(name: "price") do %><%= @uillean_pipes.price %><% end %>
      <% row.with_cell(name: "obc_price") do %><%= @uillean_pipes.obc_price %><% end %>
      <% row.with_cell(name: "outbounds_price") do %><%= @uillean_pipes.outbounds_price %><% end %>
    <% end %>
  <% end %>
  <h2><%= inline_svg "icons/guitar" %>Rendez-vous</h2>
  <%= render Shared::Table::Component.new(class: "pricing-table") do |table| %>
    <% table.with_row do |row| %>
      <% row.with_cell(name: "description") do %>Tarif rendez-vous seul<% end %>
      <% row.with_cell(name: "price") do %>30€ hors adhésion<% end %>
    <% end %>
  <% end %>
</section>
