<header class="feature">
  <nav>
    <%= link_to "GCBPV", "/" %>
    <%= link_to "Groupement", "" %>
    <%= link_to "La Bogue", "" %>
    <%= link_to "Ecole", "" %>
    <%= link_to "Archives", "" %>
    <%= link_to "Actualités", "" %>
    <%= link_to "Evénements", "" %>
  </nav>
</header>
