<% if @banner.present? %>
  <div class="information-banner"><%= simple_format(@banner) %></div>
<% end %>
<header class="main-header">
  <div class="main-header__title wrapper region">
    <div class="feature switcher">
      <h1 class="main-header__logo">
        <%= link_to "/", class: "home-button" do %>
          Groupement Culturel Breton<br>des Pays de Vilaine
        <% end %>
      </h1>
      <p class="main-header__tagline">
        Collecter, sauvegarder, transmettre et valoriser le patrimoine culturel local. <br>
        Promouvoir de nouvelles formes d'expression à partir de ce patrimoine.
      </p>
    </div>
  </div>
  <nav class="main-header__nav feature" data-controller="menu-toggle">
    <!-- button class="button menu-button" data-action="click->menu-toggle#toggle" aria-label="Ouvrir le menu" hidden>
      <%= inline_svg "icons/menu" %>
    </button-->
    <ul class="cluster">
      <!--button class="button" data-action="menu-toggle#toggle" data-button-type="naked" hidden><%= inline_svg "icons/arrow", class: "rotate-90" %> Fermer le menu</button-->
      <li><%= link_to "Actualités", website_post_index_path, class: "decorated" %></li>
      <li><%= link_to "Événements", website_event_index_path, class: "decorated" %></li>
      <li><%= link_to "La Bogue d’Or", "/bogue/#{Bogue.active.ordered.first.slug}", class: "decorated" %></li>
      <li><%= link_to "L'école de musique", ecole_path, class: "decorated" %></li>
      <li><%= link_to "Centre ressources", archives_path, class: "decorated" %></li>
      <li><%= link_to "L’association", association_path, class: "decorated" %></li>
    </div>
  </nav>
</header>
