<header class="feature">
  <nav>
    <%= link_to "Groupement Culturel Breton des Pays de Vilaine", "/", class: "home" %>
    <%= link_to "Le Groupement", "" %>
    <%= link_to "La Bogue", "" %>
    <%= link_to "Ecole", ecole_path %>
    <%= link_to "Archives", "" %>
    <%= link_to "Actualités", posts_path %>
    <%= link_to "Evénements", events_path %>
  </nav>
  <button>Se connecter</button>
</header>
