<%= link_to archives_edition_path(@edition), class: "card edition-card", "data-card-type": "image" do %>
  <div class="image">
    <%= image_tag @edition.image %>
  </div>
  <div class="card-info">
    <h3><%= @edition.name %></h3>
    <dl>
      <% if @edition.format.present? %>
        <div>
          <dt>Format</dt>
          <dd><%= @edition.format %></dd>
        </div>
      <% end %>
      <% if @edition.price.present? %>
        <div>
          <dt>Prix</dt>
          <dd><%= number_to_currency(@edition.price, unit: "€") %></dd>
        </div>
      <% end %>
    </dl>
  </div>
<% end %>
