<div class="panel grid" data-layout="50-50">
  <div class="flow">
    <h2>Cours individuels</h2>
    <% @teacher.slots.order(:day_of_week).each do |slot| %>
      <% @subscriptions = slot.courses.active(@season) %>
      <% if @subscriptions.size > 0 %>
        <% if @day != slot.day_of_week %><h3><%= slot.day_of_week %></h3><% end %>
        <% @day = slot.day_of_week %>
        <%= render Shared::Table::Component.new do |table| %>
          <% table.with_header do |header| %>
            <% header.with_column(name: "day", colspan: 4) do %>
              <%= "#{slot.city.name} (#{@subscriptions.size})" %>
            <% end %>
          <% end %>
          <% @subscriptions.ordered.each do |course| %>
            <% table.with_row(class: "#{course.subscription.optional? || course.subscription.optional_course?(course.instrument) ? "optional" : "confirmed"}") do |row| %>
              <% row.with_cell(name: "name") do %><%= course.student.name %><% end %>
              <% row.with_cell(name: "instrument") do %><%= course.instrument.name %><% end %>
              <% row.with_cell(name: "day") do %><%= course.slot.day_of_week %><% end %>
              <% row.with_cell(name: "time") do %><%= "#{format_time(course.start_time)} - #{format_time(course.end_time)}" %><% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="flow">
    <h2>Ateliers</h2>
    <% @teacher.kid_workshop_slots.each do |slot| %>
      <% @subscriptions = slot.subscriptions.active(@season) %>
      <% if @subscriptions.size > 0 %>
        <% if @day != slot.day_of_week %>
          <h3><%= slot.day_of_week %></h3>
          <% @day = slot.day_of_week %>
        <% end %>
        <%= render Shared::Table::Component.new do |table| %>
          <% table.with_header do |header| %>
            <% header.with_column(name: "day") do %>
              <%= "#{[slot.workshop.name, slot.city.name, slot.slot_time].compact.join(" - ")} (#{@subscriptions.size})" %>
            <% end %>
          <% end %>
          <% @subscriptions.each do |subscription| %>
            <% table.with_row(class: "#{subscription.optional? || subscription.optional_workshop?(slot.workshop) ? "optional" : "confirmed"}") do |row| %>
              <% row.with_cell(name: "name") do %><%= subscription.student.name %><% end %>
            <% end %>
          <% end %>
          <% table.with_empty_state do %>
            <div class="banner">Pas d’inscription pour cet atelier</div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% @teacher.workshop_slots.each do |slot| %>
      <% @subscriptions = slot.subscriptions.active(@season) %>
      <% if @subscriptions.size > 0 %>
        <% if @day != slot.day_of_week %>
          <h3><%= slot.day_of_week %></h3>
          <% @day = slot.day_of_week %>
        <% end %>
        <%= render Shared::Table::Component.new do |table| %>
          <% table.with_header do |header| %>
            <% header.with_column(name: "day") do %>
              <%= "#{[slot.workshop.name, slot.city.name, slot.slot_time].compact.join(" - ")} (#{@subscriptions.size})" %>
            <% end %>
          <% end %>
          <% @subscriptions.each do |subscription| %>
            <% table.with_row(class: "#{subscription.optional? || subscription.optional_workshop?(slot.workshop) ? "optional" : "confirmed"}") do |row| %>
              <% row.with_cell(name: "name") do %><%= subscription.student.name %><% end %>
            <% end %>
          <% end %>
          <% table.with_empty_state do %>
            <div class="banner">Pas d’inscription pour cet atelier</div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
