<div class="repel">
  <h1>Disciplines</h1>
  <%= link_to "Créer un nouvel instrument", new_instrument_path, class: "button" %>
</div>
<%= render Shared::Table::Component.new do |table| %>
  <% table.with_header do |header| %>
    <% header.with_column(name: "instrument") do %>Instrument<% end %>
    <% header.with_column(name: "student-count") do %>Nombre d’élèves<% end %>
    <% header.with_column(name: "options", show_label: false) %>
  <% end %>
  <% @instruments.each do |instrument| %>
    <% table.with_row(link_url: instrument) do |row| %>
      <% row.with_cell(name: "instrument") do %><%= link_to instrument.name, instrument_url(season: @season, record: instrument) %><% end %>
      <% row.with_cell(name: "student-count") do %><%= instrument.courses(season: @season).size %><% end %>
      <% row.with_cell(name: "options") do %>
        <%= link_to "Éditer cet instrument", edit_instrument_path(instrument) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
