<div>
  <%= form.label "Instrument", style: "display: block" %>
  <%= form.collection_select :instrument_id, Instrument.all, :id, :name %>
</div>

<div>
  <%= form.label "Professeur", style: "display: block" %>
  <%= collection_select :teacher, :teacher_ids, Teacher.all, :id, :name %>
</div>

<div>
  <%= form.label "Lieu et heure", style: "display: block" %>
  <%= form.collection_select :slot_id, Slot.all, :id, :name %>
</div>
