<div id="<%= dom_id payor %>" class="record">
  <div class="page-info">
    <dl class="panel cluster">
      <div>
        <dt>Nom :</dt>
        <dd><%= payor.name %></dd>
      </div>
      <div>
        <dt>Adresse :</dt>
        <dd><%= payor.full_address %></dd>
      </div>
      <div>
        <dt>Email :</dt>
        <dd><%= payor.email %></dd>
      </div>
      <div>
        <dt>Téléphone :</dt>
        <dd><%= format_phone(payor.phone) %></dd>
      </div>
    </dl>
    <dl class="panel cluster">
      <div>
        <dt>Notes :</dt>
        <dd><%= payor.comment %></dd>
      </div>
    </dl>
  </div>

  <section class="flow">
    <div class="flow">
      <h2>Membres du foyer</h2>
      <%= render Shared::Table::Component.new do |table| %>
        <% table.with_header do |header| %>
          <% header.with_column(name: "student") do %>Élève<% end %>
          <% header.with_column(name: "birth_year") do %>Année de naissance<% end %>
          <% header.with_column(name: "comment") do %>Notes<% end %>
        <% end %>
        <% if @subscriptions.present? %>
          <% @subscriptions.each do |subscription| %>
            <% table.with_row(link_url: subscription_path(subscription)) do |row| %>
              <% row.with_cell(name: "student") do %><%= link_to subscription.student.name, subscription_path(subscription), "data-turbo": false %><% end %>
              <% row.with_cell(name: "birth_year") do %><%= subscription.student.birth_year %><% end %>
              <% row.with_cell(name: "comment") do %><%= subscription.student.comment %><% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="flow">
      <h2>Inscriptions</h2>
      <%= render Shared::Table::Component.new do |table| %>
        <% table.with_header do |header| %>
          <% header.with_column(name: "type") do %>Cours/atelier<% end %>
          <% header.with_column(name: "student") do %>Élève<% end %>
          <% header.with_column(name: "day_of_week") do %>Jour<% end %>
          <% header.with_column(name: "city") do %>Ville<% end %>
          <% header.with_column(name: "comment") do %>Notes<% end %>
          <% header.with_column(name: "amount") do %>Prix<% end %>
        <% end %>
        <% if @subscriptions.present? %>
          <% @subscriptions.each do |subscription| %>
            <% subscription.subbed_kid_workshops.order(:option).each do |subbed_kid_workshop| %>
              <% table.with_row do |row| %>
                <% row.with_cell(name: "type") do %><%= subbed_kid_workshop.kid_workshop.name %><% end %>
                <% row.with_cell(name: "student") do %><%= subbed_kid_workshop.student.name %><% end %>
                <% row.with_cell(name: "day_of_week") do %><%= subbed_kid_workshop.kid_workshop_slot.day_of_week %><% end %>
                <% row.with_cell(name: "city") do %><%= subbed_kid_workshop.kid_workshop_slot.city.name %><% end %>
                <% row.with_cell(name: "comment") do %><%= subbed_kid_workshop.comment %><% end %>
                <% row.with_cell(name: "amount") do %>
                  <%= subbed_kid_workshop.price.present? ? number_to_currency(subbed_kid_workshop.price, unit: "€") : "À définir" %>
                <% end %>
              <% end %>
            <% end %>
            <% subscription.courses&.order(:option).each do |course| %>
              <% table.with_row do |row| %>
                <% row.with_cell(name: "type") do %><%= course.instrument.name %><% end %>
                <% row.with_cell(name: "student") do %><%= course.student.name %><% end %>
                <% row.with_cell(name: "day_of_week") do %><%= course.slot.day_of_week %><% end %>
                <% row.with_cell(name: "city") do %><%= course.slot.city.name %><% end %>
                <% row.with_cell(name: "comment") do %><%= course.comment %><% end %>
                <% row.with_cell(name: "amount") do %><%= number_to_currency(course.price, unit: "€") %><% end %>
              <% end %>
            <% end %>
            <% subscription.subbed_workshops.order(:option).each_with_index do |subbed_workshop, index| %>
              <% table.with_row do |row| %>
                <% row.with_cell(name: "type") do %><%= subbed_workshop.workshop.name %><% end %>
                <% row.with_cell(name: "student") do %><%= subbed_workshop.student.name %><% end %>
                <% row.with_cell(name: "day_of_week") do %><%= subbed_workshop.workshop_slot.day_of_week %><% end %>
                <% row.with_cell(name: "city") do %><%= subbed_workshop.workshop_slot.city.name %><% end %>
                <% row.with_cell(name: "comment") do %><%= subbed_workshop.comment %><% end %>
                <% row.with_cell(name: "amount") do %>
                  <%= index < subscription.courses.size ? "---" : number_to_currency(subbed_workshop.price, unit: "€") %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="flow">
      <h2>Paiements</h2>
      <dl class="panel cluster">
        <div>
          <dt>Montant total estimé :</dt>
          <dd><%= number_to_currency(@subscription_group.subscription_cost, unit: "€") %></dd>
        </div>
        <div>
          <dt>Montant de la remise :</dt>
          <dd><%= number_to_currency(@subscription_group.discount, unit: "€") %></dd>
        </div>
        <div>
          <dt>Montant total après remise et adhésion :</dt>
          <dd><%= number_to_currency(@subscription_group.total_cost, unit: "€") %></dd>
        </div>
        <div>
          <dt>Montant réglé :</dt>
          <dd><%= number_to_currency(@subscription_group.total_paid, unit: "€") %></dd>
        </div>
        <div>
          <dt>Montant restant :</dt>
          <dd><%= number_to_currency(@subscription_group.total_remaining, unit: "€") %></dd>
        </div>
        <div>
          <dt>Agglo :</dt>
          <dd><%= @subscription_group.majoration_class %></dd>
        </div>
        <div>
          <dt>Don :</dt>
          <dd><%= @subscription_group.donation || "---" %></dd>
        </div>
      </dl>
      <%= form_with url: payment_path, method: "put", data: {"subscription-group-id": @subscription_group.id, "item-type": "payment"} do |form| %>
        <table class="payment-list item-list">
          <thead>
            <tr>
              <th class="cell-payment_method">Type de paiement</th>
              <th class="cell-amount">Montant</th>
              <th class="cell-comment">Notes</th>
              <th class="cell-options">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @subscription_group.payments.each do |payment| %>
              <%= render "payments/payment", payment: payment %>
            <% end %>
            <%= render "payments/add" %>
          </tbody>
        </table>
      <% end %>
    </div>
  </section>
</div>

<%= link_to "Supprimer ce foyer",
  payor_path(payor),
  class: "button",
  data: {
    "button-variant": "alert",
    turbo_method: :delete,
    turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer ce foyer ?"
  } %>
