<div id="<%= dom_id payor %>">
  <p>
    <strong>Last name:</strong>
    <%= payor.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= payor.first_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= payor.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= payor.phone %>
  </p>

</div>
