<div class="repel">
  <h1><%= @payor.name %></h1>

  <div>
    <%= link_to "Éditer le payeur", edit_payor_path(@payor), class: "button" %>
    <%= link_to "Créer un nouveau payeur", new_payor_path, class: "button" %>
    <%= link_to "Retour à la liste des foyers", payors_path, class: "button" %>
  </div>
</div>

<%= render @payor %>
