<% content_for(:title, "Statistiques #{@season.name}") %>

<div class="stats">
  <h1>Stats</h1>
  <dl class="numbers">
    <dt>Saison courante</dt>
    <dd><%= @season.name %></dd>
    <dt>Foyers</dt>
    <dd><%= "#{@confirmed_subscription_groups_size} (+#{@unconfirmed_subscription_groups_size})" %></dd>
    <dt>Inscriptions</dt>
    <dd><%= "#{@confirmed_subscription_size} (+#{@unconfirmed_subscription_groups_size})" %></dd>
  </dl>

  <div class="count">
    <div>
      <h2>Professeurs</h2>
      <dl>
        <% @teachers.each do |teacher| %>
          <dt><h3><%= teacher.name %></h3></dt>
          <dd>
            <% teacher.slots.each do |slot| %>
              <% if slot.courses.present? %>
                <h4><%= "#{slot.city.name} #{slot.datetime}" %></h3>
                <ul>
                  <% slot.courses.each do |course| %>
                    <% if course.option == "Optionel" %>
                     <li>(<%= link_to course.subscription.student.name, admin_subscription_path(course.subscription) %>)</li>
                    <% else %>
                      <li><%= link_to course.subscription.student.name, admin_subscription_path(course.subscription) %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </dd>
        <% end %>
      </dl>
      <hr>
      <h2>Enfance</h2>
      <dl>
        <% @kid_workshops.each do |workshop| %>
          <dt><h3><%= workshop.name %></h3></dt>
          <dd>
            <% workshop.kid_workshop_slots.each do |slot| %>
              <% if slot.subbed_kid_workshops.present? %>
                <% if workshop.kid_workshop_slots.size > 1 %>
                  <h4><%= "#{slot.day_of_week} à #{slot.city.name} : #{slot.subbed_kid_workshops.size}" %></h4>
                <% end %>
                <ul>
                  <% if slot.subbed_kid_workshops.present? %>
                    <% slot.subbed_kid_workshops.each do |subbed_kid_workshop| %>
                      <li><%= link_to subbed_kid_workshop.subscription.student.name, admin_subscription_path(subbed_kid_workshop.subscription) %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>

    <div>
      <h2>Ateliers</h2>
      <dl>
        <% @workshops.each do |workshop| %>
          <dt><h3><%= workshop.name %></h3></dt>
          <dd>
            <% workshop.workshop_slots.each do |slot| %>
              <% if slot.subbed_workshops.present? %>
                <% if workshop.workshop_slots.size > 1 %>
                  <h4><%= "#{slot.day_of_week} à #{slot.city.name} : #{slot.subbed_workshops.size}" %></h4>
                <% end %>
                <ul>
                  <% slot.subbed_workshops.each do |subbed_workshop| %>
                    <li><%= link_to subbed_workshop.subscription.student.name, admin_subscription_path(subbed_workshop.subscription) %></li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
