<% content_for(:page_class, "website content") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new %>
  <main class="full content">
    <div class="full content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </main>
<% end %>
<%= render template: "layouts/application" %>
