<% content_for(:page_class, "account") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new %>
  <main class="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
<% end %>
<%= render template: "layouts/application" %>
