<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:page_title) || "Groupement Culturel Breton des Pays de Vilaine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="<%= "#{controller.view_context.controller_name} #{content_for(:page_class)}" %>">
    <% if notice.present? %><p class="banner"><%= notice %></p><% end %>
    <% if alert.present? %><p class="banner"><%= alert %></p><% end %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
