<% content_for(:page_class, "authentication") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new %>
  <main class="content">
    <%= render Website::Hero::Component.new(title: content_for(:page_title)) %>
    <section>
      <p class="banner"><%= notice %></p>
      <p class="banner" data-banner-type="alert"><%= alert %></p>
      <%= yield %>
    </section>
  </main>
<% end %>
<%= render template: "layouts/application" %>
