<% content_for(:page_class, "authentication") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new %>
  <main class="wrapper region">
    <div class="page-title">
      <h1><%= content_for(:page_title) %></h1>
      <p><%= content_for(:page_description) %></p>
    </div>
    <%= yield %>
  </main>
<% end %>
<%= render template: "layouts/application" %>
