<% content_for(:page_class, "website") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new(banner: @banner) %>
  <main class="full content">
    <%= render Website::Home::Hero::Component.new(title: content_for(:page_title)) %>
    <div class="full content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </main>
  <%= render Website::Footer::Component.new %>
<% end %>
<%= render template: "layouts/application" %>
