<% content_for(:page_class, "website post ") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new(banner: @banner) %>
  <main class="wrapper region">
    <div class="popout page-title">
      <h1><%= @post.title %></h1>
      <p>Publié le <%= @post.publication_datetime %></p>
    </div>
    <div class="popout">
      <%= yield %>
    </div>
  </main>
  <%= render Website::Footer::Component.new %>
<% end %>
<%= render template: "layouts/application" %>
