<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:page_title) || "Groupement Culturel Breton des Pays de Vilaine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="secretariat <%= "#{controller.view_context.controller_name} #{content_for(:page_class)}" %>">
    <header class="repel">
      <div class="cluster">
        <%= link_to "Secrétariat", secretariat_root_path, class: "header-title" %>
        <%= render Shared::MenuSelect::Component.new(title: @season.name, links: @season_links) if params[:season_name].present? %>
      </div>
      <%= render Secretariat::Navigation::Component.new(season: @season) %>
    </header>
    <% if notice.present? %><p class="banner" data-banner-variant="success"><%= notice %></p><% end %>
    <main class="flow">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
