<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:page_title) || "Groupement Culturel Breton des Pays de Vilaine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="secretariat <%= content_for(:page_class) || "" %>">
    <header>
      <h1>Secrétariat</h1>
      <%= render Secretariat::Navigation::Component.new %>
    </header>
    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
