<% content_for(:page_class, "website") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new(banner: @banner) %>
  <main class="wrapper region">
    <div class="popout page-title">
      <h1><%= content_for(:page_title) %></h1>
      <p><%= content_for(:page_description) %></p>
    </div>
    <div class="popout">
      <%= yield %>
    </div>
  </main>
  <%= render Website::Footer::Component.new %>
<% end %>
<%= render template: "layouts/application" %>
