<% content_for(:page_class, "website") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new(banner: @banner) %>
  <main class="content">
    <%= render Website::Hero::Component.new(title: content_for(:page_title), subtitle: content_for(:page_description)) %>
    <%= yield %>
  </main>
  <%= render Website::Footer::Component.new %>
<% end %>
<%= render template: "layouts/application" %>
