<% content_for(:page_class, "website content") %>

<% content_for :content do %>
  <%= render Website::Header::Component.new %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <main class="full content">
    <%= yield %>
  </main>
<% end %>
<%= render template: "layouts/application" %>
