<%= link_to post_path(@post), class: "card post-preview" do %>
  <% if @post.categories.present? %>
    <div class="tag-list">
      <% @post.categories.each do |category| %>
        <span class="tag">
          <span><%= category.name %></span>
        </span>
      <% end %>
    </div>
  <% end %>
  <h3><%= @post.title %></h3>
  <time>Publié le <%= @post.publication_datetime %></time>
  <% if @post.image.present? %>
    <div class="image">
      <%= image_tag @post.image %>
    </div>
  <% end %>
  <%= stripped_content %>
<% end %>
