<post-preview class="panel flow" data-nowrap>
  <h3><%= link_to @post.title, website_post_path(@post) %></h3>
  <time>Publié le <%= @post.publication_datetime %></time>
  <% if @post.categories.present? %>
    <div class="tag-list cluster cluster">
      <% @post.categories.each do |category| %>
        <span class="tag" data-tag-color="">
          <span><%= category.name %></span>
        </span>
      <% end %>
    </div>
  <% end %>
  <div class="prose"><%= @post.excerpt %></div>
  <div class="read-more">
    <%= link_to "Voir l’actualité complète ⇢", website_post_path(@post) %>
  </div>
</post-preview>
