<div id="<%= dom_id household %>" class="record">
  <div class="panel">
    <%= render "household-info", household: household %>
  </div>

  <section class="flow">
    <div class="flow">
      <h2>Membres du foyer</h2>
      <%= render Shared::Table::Component.new do |table| %>
        <% table.with_header do |header| %>
          <% header.with_column(name: "student") do %>Élève<% end %>
          <% header.with_column(name: "birth_year") do %>Année de naissance<% end %>
          <% header.with_column(name: "comment") do %>Notes<% end %>
        <% end %>
        <% if @subscriptions.present? %>
          <% @subscriptions.each do |subscription| %>
            <% table.with_row(link_url: student_url(season: @season, record: subscription.student)) do |row| %>
              <% row.with_cell(name: "student") do %><%= link_to subscription.student.name, student_url(season: @season, record: subscription.student), "data-turbo": false %><% end %>
              <% row.with_cell(name: "birth_year") do %><%= subscription.student.birth_year %><% end %>
              <% row.with_cell(name: "comment") do %><%= subscription.student.comment %><% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= render "subscription_groups/subscription_summary", subscription_group: @subscription_group %>
    <h2>Paiements</h2>
    <%= form_with url: payment_path, method: "put", data: {"subscription-group-id": @subscription_group.id, "item-type": "payment"} do |form| %>
      <table class="payment-list item-list">
        <thead>
          <tr>
            <th class="cell-date">Date</th>
            <th class="cell-payment_method">Type de paiement</th>
            <th class="cell-amount">Montant</th>
            <th class="cell-comment">Notes</th>
            <th class="cell-options">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @subscription_group.payments.each do |payment| %>
            <%= render "payments/payment", payment: payment %>
          <% end %>
          <%= render "payments/add" %>
        </tbody>
      </table>
    <% end %>
    <%= turbo_frame_tag "payment-summary" do %>
      <%= render "subscription_groups/payment_summary", subscription_group: @subscription_group %>
    <% end %>
  </section>
</div>

<%= link_to "Supprimer ce foyer",
  household_path(household),
  class: "button",
  data: {
    "button-variant": "alert",
    turbo_method: :delete,
    turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer ce foyer ?"
  } %>
