<turbo-frame id="household-form">
  <div class="repel">
    <div>
      <dl class="cluster">
        <div>
          <dt>Nom :</dt>
          <dd><%= household.name %></dd>
        </div>
        <div>
          <dt>Adresse :</dt>
          <dd><%= household.full_address %></dd>
        </div>
        <div>
          <dt>Email :</dt>
          <dd><%= household.emails %></dd>
        </div>
        <div>
          <dt>Téléphone :</dt>
          <dd><%= household.phones %></dd>
        </div>
      </dl>
      <dl>
        <div>
          <dt>Notes :</dt>
          <dd><%= household.comment %></dd>
        </div>
      </dl>
    </div>
    <%= link_to edit_household_info_path(household_id: household.id), class: "button", "data-button-size": "small" do %>
      <%= inline_svg "icons/edit" %>
    <% end %>
  </div>
</turbo-frame>
