<div class="repel">
  <h1>Foyers</h1>
</div>

<%= form_for households_path,
    method: :get,
    html: {
      data: {
        turbo_frame: "households"
      },
      class: "filters panel"
    } do |f| %>
  <div class="flow">
    <div class="cluster">
      <div class="flow">
        <%= label_tag :q, "Nom" %>
          <%= search_field_tag :q, params[:q], placeholder: "Filtrer les noms" %>
        </div>
      <div class="flow">
        <%= label_tag :status, "Inclure seulement le statut" %>
        <%= select_tag :status, options_for_select(SubscriptionGroup.statuses, params[:status].presence || ""), include_blank: "--- Statut ---", onchange: "this.form.requestSubmit()" %>
      </div>
    </div>
    <div class="cluster button-group repel">
      <%= f.button class: "button" do %>Rechercher<% end %>
      <button class="button" data-emails-list-value="<%= @selected_emails %>" data-controller="emails" data-action="emails#copyList">Copier la liste des emails</button>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "households", class: "flow" do %>
  <h2>Foyers</h2>
  <%== pagy_nav(@pagy) %>
  <%= render Shared::Table::Component.new do |table| %>
    <% table.with_header(sort: @sort_attribute, direction: @sort_direction, base_request_params: request.query_parameters) do |header| %>
      <% header.with_column(name: "last_name", sortable: true) do %>Nom<% end %>
      <% header.with_column(name: "created_at") do %>Inscrit le<% end %>
      <% header.with_column(name: "students") do %>Membres du foyer<% end %>
      <% header.with_column(name: "city") do %>Ville<% end %>
      <% header.with_column(name: "email") do %>Email<% end %>
      <% header.with_column(name: "phone") do %>Téléphone<% end %>
      <% header.with_column(name: "status") do %>Status<% end %>
      <% header.with_column(name: "amount") do %>Montant<% end %>
    <% end %>
    <% @households.each do |household| %>
      <% table.with_row(link_url: household) do |row| %>
        <% row.with_cell(name: "name") do %><%= link_to household.last_name, household_url(season: @season, record: household), "data-turbo": false %><% end %>
        <% row.with_cell(name: "created_at") do %><%= format_date(household.subscription_group(@season).created_at) %><% end %>
        <% row.with_cell(name: "students") do %><%= household.subscription_group(@season).present? ? household.subscription_group(@season).subscriptions.size : 0 %><% end %>
        <% row.with_cell(name: "city") do %><%= household.city %><% end %>
        <% row.with_cell(name: "email") do %><%= household.email %><% end %>
        <% row.with_cell(name: "phone") do %><%= format_phone(household.phone) %><% end %>
        <% row.with_cell(name: "status") do %><%= household.subscription_group(@season).payment_state %><% end %>
        <% row.with_cell(name: "amount") do %><%= number_to_currency(household.subscription_group(@season).total_cost, unit: "€") if household.subscription_group(@season).present? %><% end %>
      <% end %>
    <% end %>
  <% end %>
  <%== pagy_nav(@pagy) %>
<% end %>
